
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->


<div class="row" ng-init="getListing()">


    <div>
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet">

            <div class="clearfix"></div>
            <div style="margin-bottom:20px;">

                <div class="pull-left">
                    <form method="GET" accept-charset="UTF-8" class="form-inline" name="filter" id="filter">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search..." required="1" name="q" type="search" ng-model="searchModel.name">
                        </div>
                        <input id="sortby" name="sortby" type="hidden">
                        <input id="order" name="order" type="hidden">
                        &nbsp;&nbsp;
                        <button class="btn green" ng-click="filterSearch = searchModel">Search</button>
                        &nbsp;
                        <a href="http://localhost/ekintx/web_old/public/webadmin/states" class="btn default">Clear</a>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <div style="margin-bottom:20px;">
                <div class="pull-left">{{states.length}} record(s) found</div>
                <div class="pull-right">
              <!--       <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success"> Delete Selected</a> -->
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="deleteSelected()"> Delete Selected</a>
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="addNewState()"> Add New State</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="portlet-body">


                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ><input class="check_all" id="check_all" name="check_all" type="checkbox" value=""></th>
                                <th style="width:30%;">
                                    State Name <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th >
                                    Code <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                 <th style="width:30%;">
                                    Country Name <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="state in states" | filter:{'name': filterSearch.name, 'code': filterSearch.code}>
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14" ng-change="stateChanged($index,state.id)" ng-model="answers[state.id]"></td>
                                <td>{{state.name}}</td>

                                 <td>
                                     {{state.code}}
                                 </td>


                                 <td>
                                     {{state.country_name.name}}
                                 </td>
                                <td>
                                    <a href="javascript:void(0);" class="del-btn" ng-click="edit($index)"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" class="del-btn" ng-click="delete($index)"> Delete </a>



                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <!--pagination can go here-->
                      <posts-pagination style="float: right;"></posts-pagination>

                </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>

    <script type="text/ng-template" id="addStateModal.html">
    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Add New State</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="stateForm" ng-submit="stateForm.$valid && send(vm.stateForm)" novalidate="1">
                        <div class="form-body">





                            <div class="form-group">
                                <label class="col-md-4 control-label">State Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="State name" required="1" name="name" type="text" ng-model="vm.stateForm.name" required ng-keypress="stateForm.name.$error.serverMessage=''" ng-keydown="stateForm.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && stateForm.name.$error.serverMessage">{{stateForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && stateForm.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                    
                            </div>
                      
                          <div class="form-group">
                                <label class="col-md-4 control-label">State Code</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="State code" required="1" name="code" type="text" ng-model="vm.stateForm.code" required ng-maxlength="4" ng-keypress="stateForm.code.$error.serverMessage=''" ng-keydown="stateForm.code.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && stateForm.code.$error.serverMessage">{{stateForm.code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && stateForm.code.$error.required">The code field is required.</span>
                                    <span ng-if="submitted && stateForm.code.$error.maxlength">The code may not be greater than 4 characters.</span>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Country</label>
                                <div class="col-md-8">


                                    <select class="form-control" name="country_id" id="" ng-model="vm.stateForm.country_id" required>
                                        <option value="" ng-selected="true">Select Country</option>
                                        <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
                                    </select>
                                    <div class="error-message">
                                    <span ng-if="submitted && stateForm.country_id.$error.serverMessage">{{stateForm.country_id.$error.serverMessage}}</span>
                                    <span ng-if="submitted && stateForm.country_id.$error.required">The state field is required.</span>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Submit</button>
                                    <a class="btn default" ng-click="cancel(vm.stateForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>


    <script type="text/ng-template" id="editStateModal.html">
    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Update State</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="stateFormEdit" ng-submit="stateFormEdit.$valid && update(stateForm)" novalidate>
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-4 control-label">State Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="State name" name="name" type="text" ng-model="stateForm.name" required ng-keypress="stateFormEdit.name.$error.serverMessage=''" ng-keydown="stateFormEdit.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && stateFormEdit.name.$error.serverMessage">{{stateFormEdit.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && stateFormEdit.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                    
                            </div>
                      
                          <div class="form-group">
                                <label class="col-md-4 control-label">State Code</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="State code" name="code" type="text" ng-model="stateForm.code" required ng-maxlength="4" ng-keypress="stateFormEdit.code.$error.serverMessage=''" ng-keydown="stateFormEdit.code.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && stateFormEdit.code.$error.serverMessage">{{stateFormEdit.code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && stateFormEdit.code.$error.required">The code field is required.</span>
                                    <span ng-if="submitted && stateFormEdit.code.$error.maxlength">The code may not be greater than 4 characters.</span>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Country</label>
                                <div class="col-md-8">


                                    <select class="form-control" name="country_id" id="" ng-model="stateForm.country_id" required>
                                        <option value="" ng-selected="true">Select Country</option>
                                        <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
                                    </select>
                                    <div class="error-message">
                                    <span ng-if="submitted && stateFormEdit.country_id.$error.serverMessage">{{stateFormEdit.country_id.$error.serverMessage}}</span>
                                    <span ng-if="submitted && stateFormEdit.country_id.$error.required">The state field is required.</span>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Update</button>
                                    <a class="btn default" ng-click="cancel(stateForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>

</div>

