
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->


<div class="row" ng-init="getListing()">


    <div class="col-md-7" style="width:100%;">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet">

            <div class="clearfix"></div>
            <div style="margin-bottom:20px;">

                <div class="pull-left">
                    <form method="GET" action="http://localhost/ekintx/web_old/public/webadmin/states" accept-charset="UTF-8" class="form-inline" name="filter" id="filter">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search..." required="1" name="q" type="search">
                        </div>
                        <input id="sortby" name="sortby" type="hidden">
                        <input id="order" name="order" type="hidden">
                        &nbsp;&nbsp;
                        <button type="submit" class="btn green">Search</button>
                        &nbsp;
                        <a href="http://localhost/ekintx/web_old/public/webadmin/states" class="btn default">Clear</a>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <div style="margin-bottom:20px;">
                <div class="pull-left">{{countries.length}} record(s) found</div>
                <div class="pull-right">
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="deleteSelected()"> Delete Selected</a>
                     <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="addNewCountry()"> Add New Country</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="portlet-body">


                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ><input class="check_all" id="check_all" name="check_all" type="checkbox" value=""></th>
                                <th style="width:30%;">
                                    Country Name <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th >
                                    Code <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="country in countries">
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14" ng-change="stateChanged($index,country.id)" ng-model="answers[country.id]"></td>
                                <td>{{country.name}}</td>

                                 <td>
                                     {{country.code}}
                                 </td>
                                <td>
                                    <a href="javascript:void(0);"  class="del-btn" ng-click="edit($index)"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" ng-click="delete($index)" class="del-btn"> Delete </a>



                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <!--pagination can go here-->
                    <posts-pagination style="float: right;"></posts-pagination>

                </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>



<script type="text/ng-template" id="addCountryModal.html">
    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Add New Country</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="countryForm" ng-submit="countryForm.$valid && send(vm.countryForm)" novalidate>
                        <div class="form-body">

                          <div class="form-group">
                                <label class="col-md-4 control-label">Country Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Country name" name="name" type="text" ng-model="vm.countryForm.name" required ng-keypress="countryForm.name.$error.serverMessage=''" ng-keydown="countryForm.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && countryForm.name.$error.serverMessage">{{countryForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && countryForm.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                         
                            </div>
                      
                             <div class="form-group">
                                <label class="col-md-4 control-label">Country Code</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Country code"  name="code" type="text" ng-model="vm.countryForm.code" required ng-maxlength="4" ng-keypress="countryForm.code.$error.serverMessage=''" ng-keydown="countryForm.code.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && countryForm.code.$error.serverMessage">{{countryForm.code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && countryForm.code.$error.required">The code field is required.</span>
                                    <span ng-if="submitted && countryForm.code.$error.maxlength">The code may not be greater than 4 characters.</span>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Submit</button>
                                    <a class="btn default" ng-click="cancel(countryForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>


<script type="text/ng-template" id="editCountryModal.html">

    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Update Country</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" accept-charset="UTF-8" name="countryFormEdit" ng-submit="countryFormEdit.$valid && update(countryForm)" novalidate>
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Country Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Country name" name="name" type="text" ng-model="countryForm.name" required ng-keypress="countryFormEdit.name.$error.serverMessage=''" ng-keydown="countryFormEdit.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && countryFormEdit.name.$error.serverMessage">{{countryFormEdit.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && countryFormEdit.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                         
                            </div>
                      
                             <div class="form-group">
                                <label class="col-md-4 control-label">Country Code</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Country code" name="code" type="text" ng-model="countryForm.code" required ng-maxlength="4" ng-keypress="countryFormEdit.code.$error.serverMessage=''" ng-keydown="countryFormEdit.code.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && countryFormEdit.code.$error.serverMessage">{{countryFormEdit.code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && countryFormEdit.code.$error.required">The code field is required.</span>
                                    <span ng-if="submitted && countryFormEdit.code.$error.maxlength">The code may not be greater than 4 characters.</span>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Update</button>
                                    <a class="btn default" ng-click="cancel(countryFormEdit)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>

</div>
