
<div class="error_profile"  ng-message="required">

 This field is required!
</div>
<div class="error_profile" ng-message="minlength">

 Field value is too short!
</div>
<div class="error_profile" ng-message="maxlength">

 Field value is too long!
</div>
<div class="error_profile" ng-message="pattern">

 Appears to be invalid value
</div>
<div class="error_profile" ng-message="min">
 
 Appears to be invalid value
</div>
<div class="error_profile" ng-message="max">

 Your age should be minimum 13 years.
</div>