<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->
<div class="row" ng-init="getListing()">
    <div class="col-md-7" style="width:100%;">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet">

            <div class="clearfix"></div>
            <div style="margin-bottom:20px;">

                <div class="pull-left">
                    <form method="GET" action="http://localhost/ekintx/web_old/public/webadmin/states" accept-charset="UTF-8" class="form-inline" name="filter" id="filter">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search..." required="1" name="q" type="search">
                        </div>
                        <input id="sortby" name="sortby" type="hidden">
                        <input id="order" name="order" type="hidden">
                        &nbsp;&nbsp;
                        <button type="submit" class="btn green">Search</button>
                        &nbsp;
                        <a href="http://localhost/ekintx/web_old/public/webadmin/states" class="btn default">Clear</a>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <div style="margin-bottom:20px;">
                <div class="pull-left">{{colleges.length}} record(s) found</div>
                <div class="pull-right">
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="deleteSelected()"> Delete Selected</a>
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="addNewCollege()"> Add New College</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="portlet-body">

                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ><input class="check_all" id="check_all" name="check_all" type="checkbox" value=""></th>
                                <th style="width:30%;">
                                    College Name <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th >
                                    Address <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="college in colleges">
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14" ng-change="stateChanged($index,college.id)" ng-model="answers[college.id]"></td>
                                <td>{{college.name}}</td>

                                 <td>
                                     {{college.street}}
                                     {{college.street2}}
                                     <br >{{college.city}}, {{college.state.name}}
                                 </td>
                                <td>
                                    <a href="javascript:void(0);"  class="del-btn" ng-click="edit($index)"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" ng-click="delete($index)" class="del-btn"> Delete </a>



                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <!--pagination can go here-->
                    <posts-pagination style="float: right;"></posts-pagination>

                </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>

<script type="text/ng-template" id="addCollegeModal.html">
    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Add New College</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="collegeForm" ng-submit="collegeForm.$valid && send(vm.collegeForm)" novalidate>
                    <div class="form-body">
                         <div class="form-group">
                                <label class="col-md-4 control-label">College Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="College name" required="1" name="name" type="text" ng-model="vm.collegeForm.name" ng-keypress="collegeForm.name.$error.serverMessage=''" ng-keydown="collegeForm.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeForm.name.$error.serverMessage">{{collegeForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeForm.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                           
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address" required="1" name="street" type="text" ng-model="vm.collegeForm.street" ng-keypress="collegeForm.street.$error.serverMessage=''" ng-keydown="collegeForm.street.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeForm.street.$error.serverMessage">{{collegeForm.street.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeForm.street.$error.required">The street field is required.</span>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address 2</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address 2" required="1" name="street2" type="text" ng-model="vm.collegeForm.street2">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">City</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="City" required="1" name="city" type="text" ng-model="vm.collegeForm.city" ng-keypress="collegeForm.city.$error.serverMessage=''" ng-keydown="collegeForm.city.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeForm.city.$error.serverMessage">{{collegeForm.city.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeForm.city.$error.required">The city field is required.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">State</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="state_id" id="" ng-model="vm.collegeForm.state_id" required>
                                        <option value="" ng-selected="true">Select State</option>
                                        <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                                    </select>
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeForm.state_id.$error.serverMessage">{{collegeForm.state_id.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeForm.state_id.$error.required">The state field is required.</span>
                                    </div>
                                </div>
                         
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Zip / Postal Code</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Zip / Postal Code" required="1" name="postal_code" type="text" ng-model="vm.collegeForm.postal_code" ng-keypress="collegeForm.postal_code.$error.serverMessage=''" ng-keydown="collegeForm.postal_code.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeForm.postal_code.$error.serverMessage">{{collegeForm.postal_code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeForm.postal_code.$error.required">The postal code field is required.</span>
                                    </div>
                                </div>
               
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Submit</button>
                                    <a class="btn default" ng-click="cancel(collegeForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>


<script type="text/ng-template" id="editCollegeModal.html">
   <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Update College</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="collegeFormEdit" ng-submit="collegeFormEdit.$valid && update(collegeForm)" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-4 control-label">College Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="College name" required="1" name="name" type="text" ng-model="collegeForm.name" ng-keypress="collegeFormEdit.name.$error.serverMessage=''" ng-keydown="collegeFormEdit.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeFormEdit.name.$error.serverMessage">{{collegeFormEdit.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeFormEdit.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                           
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address" required="1" name="street" type="text" ng-model="collegeForm.street" ng-keypress="collegeFormEdit.street.$error.serverMessage=''" ng-keydown="collegeFormEdit.street.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeFormEdit.street.$error.serverMessage">{{collegeFormEdit.street.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeFormEdit.street.$error.required">The street field is required.</span>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address 2</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address 2" required="1" name="street2" type="text" ng-model="collegeForm.street2">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">City</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="City" required="1" name="city" type="text" ng-model="collegeForm.city" ng-keypress="collegeFormEdit.city.$error.serverMessage=''" ng-keydown="collegeFormEdit.city.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeFormEdit.city.$error.serverMessage">{{collegeFormEdit.city.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeFormEdit.city.$error.required">The city field is required.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">State</label>
                                <div class="col-md-8">
                                    <select class="form-control" name="state_id" id="" ng-model="collegeForm.state_id" required>
                                        <option value="" ng-selected="true">Select State</option>
                                        <option ng-repeat="state in states" value="{{state.id}}" ng-selected="state.id == collegeForm.state_id">{{state.name}}</option>
                                    </select>
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeFormEdit.state_id.$error.serverMessage">{{collegeFormEdit.state_id.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeFormEdit.state_id.$error.required">The state field is required.</span>
                                    </div>
                                </div>
                         
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Zip / Postal Code</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Zip / Postal Code" required="1" name="postal_code" type="text" ng-model="collegeForm.postal_code" ng-keypress="collegeFormEdit.postal_code.$error.serverMessage=''" ng-keydown="collegeFormEdit.postal_code.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && collegeFormEdit.postal_code.$error.serverMessage">{{collegeFormEdit.postal_code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && collegeFormEdit.postal_code.$error.required">The postal code field is required.</span>
                                    </div>
                                </div>
               
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Update</button>
                                    <a class="btn default" ng-click="cancel(collegeForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>
</div>