
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->


<div class="row" ng-init="getListing()">


    <div class="col-md-7" style="width:100%;">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet">

            <div class="clearfix"></div>
            <div style="margin-bottom:20px;">

                <div class="pull-left">
                    <form method="GET" action="http://localhost/ekintx/web_old/public/webadmin/states" accept-charset="UTF-8" class="form-inline" name="filter" id="filter">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search..." required="1" name="q" type="search">
                        </div>
                        <input id="sortby" name="sortby" type="hidden">
                        <input id="order" name="order" type="hidden">
                        &nbsp;&nbsp;
                        <button type="submit" class="btn green">Search</button>
                        &nbsp;
                        <a href="http://localhost/ekintx/web_old/public/webadmin/states" class="btn default">Clear</a>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <div style="margin-bottom:20px;">
                <div class="pull-left">{{schools.length}} record(s) found</div>
                <div class="pull-right">
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="deleteSelected()"> Delete Selected</a>
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="addNewSchool()">Add New School</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="portlet-body">


                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ><input class="check_all" id="check_all" name="check_all" type="checkbox" value=""></th>
                                <th style="width:30%;">
                                    School Name <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th >
                                    Address <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="school in schools">
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14" ng-change="stateChanged($index,school.id)" ng-model="answers[school.id]"></td>
                                <td>{{school.name}}</td>

                                 <td>
                                     {{school.street}},
                                     {{school.street2}}
                                     <br >{{school.city}}, {{school.state.name}}
                                 </td>
                                <td>
                                    <a href="javascript:void(0);" class="del-btn" ng-click="edit($index)"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" class="del-btn" ng-click="delete($index)"> Delete </a>



                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <!--pagination can go here-->
                    <posts-pagination style="float: right;" ng-disabled="totalPages==1"></posts-pagination>

                </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>

<script type="text/ng-template" id="addSchoolModal.html">

    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Add New School</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="schoolForm" ng-submit="schoolForm.$valid && send(vm.schoolForm)" novalidate>
                        <div class="form-body">





                            <div class="form-group">
                                <label class="col-md-4 control-label">School Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="School name" name="name" type="text" ng-model="vm.schoolForm.name" required ng-keypress="schoolForm.name.$error.serverMessage=''" ng-keydown="schoolForm.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolForm.name.$error.serverMessage">{{schoolForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolForm.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                           
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address" name="street" type="text" ng-model="vm.schoolForm.street" required ng-keypress="schoolForm.street.$error.serverMessage=''" ng-keydown="schoolForm.street.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolForm.street.$error.serverMessage">{{schoolForm.street.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolForm.street.$error.required">The street field is required.</span>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address 2</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address 2" name="street2" type="text" ng-model="vm.schoolForm.street2">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">City</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="City" name="city" type="text" ng-model="vm.schoolForm.city" required ng-keypress="schoolForm.city.$error.serverMessage=''" ng-keydown="schoolForm.city.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolForm.city.$error.serverMessage">{{schoolForm.city.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolForm.city.$error.required">The city field is required.</span>
                                    </div>
                                </div>
                            
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">State</label>
                                <div class="col-md-8">


                                    <select class="form-control" name="state_id" id="" ng-model="vm.schoolForm.state_id" required>
                                        <option value="" ng-selected="true">Select State</option>
                                        <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                                    </select>
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolForm.state_id.$error.serverMessage">{{schoolForm.state_id.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolForm.state_id.$error.required">The state field is required.</span>
                                    </div>
                                </div>
                         
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label">Zip / Postal Code</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Zip / Postal Code" name="postal_code" type="text" ng-model="vm.schoolForm.postal_code" required ng-keypress="schoolForm.postal_code.$error.serverMessage=''" ng-keydown="schoolForm.postal_code.$error.serverMessage=''">
                                    
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolForm.postal_code.$error.serverMessage">{{schoolForm.postal_code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolForm.postal_code.$error.required">The postal code field is required.</span>
                              
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Submit</button>
                                    <a class="btn default" ng-click="cancel(schoolForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>

</script>

 <script type="text/ng-template" id="editSchoolModal.html">

<div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Update School</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="schoolFormEdit" ng-submit="schoolFormEdit.$valid && update(schoolForm)" novalidate>
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-4 control-label">School Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="School name" name="name" type="text" ng-model="schoolForm.name" required ng-keypress="schoolFormEdit.name.$error.serverMessage=''" ng-keydown="schoolFormEdit.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolFormEdit.name.$error.serverMessage">{{schoolFormEdit.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolFormEdit.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                           
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address" name="street" type="text" ng-model="schoolForm.street" required ng-keypress="schoolFormEdit.street.$error.serverMessage=''" ng-keydown="schoolFormEdit.street.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolFormEdit.street.$error.serverMessage">{{schoolFormEdit.street.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolFormEdit.street.$error.required">The street field is required.</span>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address 2</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address 2" name="street2" type="text" ng-model="schoolForm.street2">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">City</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="City" name="city" type="text" ng-model="schoolForm.city" required ng-keypress="schoolFormEdit.city.$error.serverMessage=''" ng-keydown="schoolFormEdit.city.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolFormEdit.city.$error.serverMessage">{{schoolFormEdit.city.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolFormEdit.city.$error.required">The city field is required.</span>
                                    </div>
                                </div>
                            
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">State</label>
                                <div class="col-md-8">


                                    <select class="form-control" name="state_id" id="" ng-model="schoolForm.state_id" required>
                                        <option value="" ng-selected="true">Select State</option>
                                        <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                                    </select>
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolFormEdit.state_id.$error.serverMessage">{{schoolFormEdit.state_id.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolFormEdit.state_id.$error.required">The state field is required.</span>
                                    </div>
                                </div>
                         
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Zip / Postal Code</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Zip / Postal Code" name="postal_code" type="text" ng-model="schoolForm.postal_code" required ng-keypress="schoolFormEdit.postal_code.$error.serverMessage=''" ng-keydown="schoolFormEdit.postal_code.$error.serverMessage=''">
                                    
                                    <div class="error-message">
                                    <span ng-if="submitted && schoolFormEdit.postal_code.$error.serverMessage">{{schoolFormEdit.postal_code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && schoolFormEdit.postal_code.$error.required">The postal code field is required.</span>
                              
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Update</button>
                                    <a class="btn default" ng-click="cancel(schoolForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>


</div>

