
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->


<div class="row" ng-init="getListing()">


    <div class="col-md-7" style="width:100%;">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet">

            <div class="clearfix"></div>
            <div style="margin-bottom:20px;">

                <div class="pull-left">
                    <form method="GET" action="http://localhost/ekintx/web_old/public/webadmin/states" accept-charset="UTF-8" class="form-inline" name="filter" id="filter">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search..." required="1" name="q" type="search">
                        </div>
                        <input id="sortby" name="sortby" type="hidden">
                        <input id="order" name="order" type="hidden">
                        &nbsp;&nbsp;
                        <button type="submit" class="btn green">Search</button>
                        &nbsp;
                        <a href="http://localhost/ekintx/web_old/public/webadmin/states" class="btn default">Clear</a>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <div style="margin-bottom:20px;">
                <div class="pull-left">{{equipments.length}} record(s) found</div>
                <div class="pull-right">
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="deleteSelected()"> Delete Selected</a>
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="addNewEquipment()"> Add New Equipment</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="portlet-body">

                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th ><input class="check_all" id="check_all" name="check_all" type="checkbox" value=""></th>
                                    <th style="width:30%;">
                                        Equipment Name <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                        <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                    </th>
                                    <th style="width:30%;">
                                        Description <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                        <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                    </th>
                                    <th style="width:30%;">
                                        File <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                        <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="equipment in equipments">
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14" ng-change="stateChanged($index,equipment.id)" ng-model="answers[equipment.id]"></td>
                                <td>{{equipment.name}}</td>
                                <td>{{equipment.description}}</td>
                                <td>{{equipment.store_url}}</td>
                                <td>
                                    <a href="javascript:void(0);"  class="del-btn" ng-click="edit($index)"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" ng-click="delete($index)" class="del-btn"> Delete </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <!--pagination can go here-->
                    <posts-pagination style="float: right;"></posts-pagination>

                </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>


<script type="text/ng-template" id="addEquipmentModal.html">
    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Add New Equipment</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="equipmentForm" ng-submit="equipmentForm.$valid && send(vm.equipmentForm)" novalidate>
                        <div class="form-body">

                          <div class="form-group">
                                <label class="col-md-4 control-label">Equipment Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Equipment name" name="name" type="text" ng-model="vm.equipmentForm.name" required ng-keypress="equipmentForm.name.$error.serverMessage=''" ng-keydown="equipmentForm.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && equipmentForm.name.$error.serverMessage">{{equipmentForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && equipmentForm.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                         
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label">Description</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Description" name="description" type="text" ng-model="vm.equipmentForm.description" required ng-keypress="equipmentForm.description.$error.serverMessage=''" ng-keydown="equipmentForm.description.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && equipmentForm.description.$error.serverMessage">{{equipmentForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && equipmentForm.description.$error.required">The description field is required.</span>
                                    </div>
                                </div>
                         
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label">File</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="File" name="store_url" type="text" ng-model="vm.equipmentForm.store_url" required ng-keypress="equipmentForm.store_url.$error.serverMessage=''" ng-keydown="equipmentForm.store_url.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && equipmentForm.store_url.$error.serverMessage">{{equipmentForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && equipmentForm.store_url.$error.required">The file field is required.</span>
                                    </div>
                                </div>
                         
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Submit</button>
                                    <a class="btn default" ng-click="cancel(equipmentForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>


<script type="text/ng-template" id="editEquipmentModal.html">
    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Update Equipment</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" accept-charset="UTF-8" name="equipmentFormEdit" ng-submit="equipmentFormEdit.$valid && update(equipmentForm)" novalidate>
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Equipment Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Equipment name" name="name" type="text" ng-model="equipmentForm.name" required ng-keypress="equipmentFormEdit.name.$error.serverMessage=''" ng-keydown="equipmentFormEdit.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && equipmentFormEdit.name.$error.serverMessage">{{equipmentFormEdit.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && equipmentFormEdit.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                         
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Description</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Description" name="description" type="text" ng-model="equipmentForm.description" required ng-keypress="equipmentFormEdit.description.$error.serverMessage=''" ng-keydown="equipmentFormEdit.description.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && equipmentFormEdit.description.$error.serverMessage">{{equipmentFormEdit.description.$error.serverMessage}}</span>
                                    <span ng-if="submitted && equipmentFormEdit.description.$error.required">The description field is required.</span>
                                    </div>
                                </div>
                         
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">File</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="File" name="store_url" type="text" ng-model="equipmentForm.store_url" required ng-keypress="equipmentFormEdit.store_url.$error.serverMessage=''" ng-keydown="equipmentFormEdit.store_url.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && equipmentFormEdit.store_url.$error.serverMessage">{{equipmentFormEdit.store_url.$error.serverMessage}}</span>
                                    <span ng-if="submitted && equipmentFormEdit.store_url.$error.required">The file field is required.</span>
                                    </div>
                                </div>
                         
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Update</button>
                                    <a class="btn default" ng-click="cancel(equipmentFormEdit)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>

</div>

