<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->


            <li class="nav-item  ">
                <a ui-sref="dashboard" ui-sref-opts="{reload: true}" class="nav-link ">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>


            <li class="nav-item  ">
                <a ui-sref="schools.list" ui-sref-opts="{reload: true}" class="nav-link ">

                    <span class="title">Schools</span>
                </a>
            </li>

            <li class="nav-item  ">
                <a ui-sref="colleges.list" ui-sref-opts="{reload: true}" class="nav-link ">

                    <span class="title">Colleges</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a ui-sref="countries.list" ui-sref-opts="{reload: true}" class="nav-link ">

                    <span class="title">Countries</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a ui-sref="states.list" ui-sref-opts="{reload: true}" class="nav-link ">

                    <span class="title">States</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a ui-sref="organizations.list" ui-sref-opts="{reload: true}" class="nav-link ">

                    <span class="title">Organizations</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a ui-sref="bodyparts.list" ui-sref-opts="{reload: true}" class="nav-link ">
                    <span class="title">Body Parts</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="categories.list" ui-sref-opts="{reload: true}" class="nav-link ">
                    <span class="title">Categories</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="subcategories.list" ui-sref-opts="{reload: true}" class="nav-link ">
                    <span class="title">Sub Categories</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="equipments.list" ui-sref-opts="{reload: true}" class="nav-link ">
                    <span class="title">Equipments</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="skilllevels.list" ui-sref-opts="{reload: true}" class="nav-link ">
                    <span class="title">Skill Levels</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="specificskills.list" ui-sref-opts="{reload: true}" class="nav-link ">
                    <span class="title">Specific Skills</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="prophylactics.list" ui-sref-opts="{reload: true}" class="nav-link ">
                    <span class="title">Prophylactics</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="traininglocations.list" ui-sref-opts="{reload: true}" class="nav-link ">
                    <span class="title">Training Locations</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="exercises.list" ui-sref-opts="{reload: true}" class="nav-link">
                    <span class="title">Exercises</span>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="workouts.list" ui-sref-opts="{reload: true}" class="nav-link">
                    <span class="title">Workout Days</span>
                </a>
            </li>
<!--            <li class="nav-item  ">
                <a href="{{route('webadmin.states.index')}}" class="nav-link ">

                    <span class="title">General Managers</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{route('webadmin.states.index')}}" class="nav-link ">

                    <span class="title">Managers</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{route('webadmin.states.index')}}" class="nav-link ">

                    <span class="title">Teams</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{route('webadmin.states.index')}}" class="nav-link ">

                    <span class="title">Players</span>
                </a>
            </li>-->


        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->