<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>eKinetx</title>

    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="content/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="content/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="content/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="content/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="content/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="content/style.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" href="bc/select2/select2.css">

        <!-- MetisMenu CSS -->
    <link href="bc/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="content/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
   <!--  <link href="content/sb-admin-2.css" rel="stylesheet"> -->

    <!-- Morris Charts CSS -->
    <link href="bc/morrisjs/morris.css" rel="stylesheet">

</head>
<body ng-class="location.path() !== '/auth/login' ? 'page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md' : 'login-body'" ng-cloak>
<div class="page-wrapper">

    <!-- header -->
    <div ng-include src="'header.html'" ng-if="location.path() !== '/auth/login'"></div>



    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container" ng-if="location.path() !== '/auth/login'">

        <!-- aside -->
        <div ng-include src="'aside.html'"></div>
     <!--    <div ng-include src="'sidebar.html'"></div> -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
            <div ui-view></div>
                </div>
            </div>
    </div>

    <div ui-view ng-if="location.path() == '/auth/login'"></div>
    <!-- footer -->
    <div ng-include src="'footer.html'" ng-if="location.path() !== '/auth/login'"></div>

</div>

<!--[if lt IE 9]>
<script src="content/assets/global/plugins/respond.min.js"></script>
<script src="content/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="content/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->



<script type="text/javascript" src="bc/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bc/select2/select2.js"></script>
<script src="bc/angular/angular.min.js"></script>
<script src="bc/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bc/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="bc/ng-file-upload/ng-file-upload.min.js"></script>

<script src="bc/metisMenu/dist/metisMenu.min.js"></script>
<script src="bc/raphael/raphael-min.js"></script>
<script src="bc/morrisjs/morris.min.js"></script>
<script src="bc/morris-data.js"></script>
<script src="bc/sb-admin-2.js"></script>

<script src="content/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script type="text/javascript" src="bc/angular-ui-select2/src/select2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.js"></script>

<script src="app/app.module.js"></script>
<script src="app/app.routes.js"></script>
<script src="app/app.controller.js"></script>
<script src="app/app.service.js"></script>

<script src="app/core/core.module.js"></script>
<script src="app/widgets/widgets.module.js"></script>


<script src="app/login/login.module.js"></script>
<script src="app/login/login.routes.js"></script>
<script src="app/login/login.js"></script>

<script src="app/dashboard/dashboard.module.js"></script>
<script src="app/dashboard/dashboard.routes.js"></script>
<script src="app/dashboard/dashboard.js"></script>

<script src="app/organizations/organizations.module.js"></script>
<script src="app/organizations/organizations.routes.js"></script>
<script src="app/organizations/organizations.js"></script>
<script src="app/organizations/OrgModalInstanceCtrl.js"></script>

<script src="app/schools/schools.module.js"></script>
<script src="app/schools/schools.routes.js"></script>
<script src="app/schools/schools.js"></script>
<script src="app/schools/SchoolModalInstanceCtrl.js"></script>

<script src="app/colleges/colleges.module.js"></script>
<script src="app/colleges/colleges.routes.js"></script>
<script src="app/colleges/colleges.js"></script>
<script src="app/colleges/CollegeModalInstanceCtrl.js"></script>

<script src="app/countries/countries.module.js"></script>
<script src="app/countries/countries.routes.js"></script>
<script src="app/countries/countries.js"></script>
<script src="app/countries/CountryModalInstanceCtrl.js"></script>

<script src="app/states/states.module.js"></script>
<script src="app/states/states.routes.js"></script>
<script src="app/states/states.js"></script>
<script src="app/states/ModalInstanceCtrl.js"></script>

<script src="app/bodyparts/bodyparts.module.js"></script>
<script src="app/bodyparts/bodyparts.routes.js"></script>
<script src="app/bodyparts/bodyparts.js"></script>
<script src="app/bodyparts/BodypartModalInstanceCtrl.js"></script>

<script src="app/categories/categories.module.js"></script>
<script src="app/categories/categories.routes.js"></script>
<script src="app/categories/categories.js"></script>
<script src="app/categories/CategoryModalInstanceCtrl.js"></script>

<script src="app/subcategories/subcategories.module.js"></script>
<script src="app/subcategories/subcategories.routes.js"></script>
<script src="app/subcategories/subcategories.js"></script>
<script src="app/subcategories/SubCategoryModalInstanceCtrl.js"></script>

<script src="app/equipments/equipments.module.js"></script>
<script src="app/equipments/equipments.routes.js"></script>
<script src="app/equipments/equipments.js"></script>
<script src="app/equipments/EquipmentModalInstanceCtrl.js"></script>

<script src="app/prophylactics/prophylactics.module.js"></script>
<script src="app/prophylactics/prophylactics.routes.js"></script>
<script src="app/prophylactics/prophylactics.js"></script>
<script src="app/prophylactics/ProphylacticModalInstanceCtrl.js"></script>


<script src="app/skilllevels/skilllevels.module.js"></script>
<script src="app/skilllevels/skilllevels.routes.js"></script>
<script src="app/skilllevels/skilllevels.js"></script>
<script src="app/skilllevels/SkillLevelModalInstanceCtrl.js"></script>

<script src="app/specificskills/specificskills.module.js"></script>
<script src="app/specificskills/specificskills.routes.js"></script>
<script src="app/specificskills/specificskills.js"></script>
<script src="app/specificskills/SpecificSkillModalInstanceCtrl.js"></script>

<script src="app/traininglocations/traininglocations.module.js"></script>
<script src="app/traininglocations/traininglocations.routes.js"></script>
<script src="app/traininglocations/traininglocations.js"></script>
<script src="app/traininglocations/TrainingLocationModalInstanceCtrl.js"></script>


<script src="app/exercises/exercises.module.js"></script>
<script src="app/exercises/exercises.routes.js"></script>
<script src="app/exercises/exercises.js"></script>
<script src="app/exercises/edit-exercise.js"></script>

<script src="app/workouts/workouts.module.js"></script>
<script src="app/workouts/workouts.routes.js"></script>
<script src="app/workouts/workouts.js"></script>


<script src="app/services/datacontext.js"></script>
<script src="app/services/repositories/repository.organization.js"></script>
<script src="app/services/repositories/repository.school.js"></script>
<script src="app/services/repositories/repository.college.js"></script>
<script src="app/services/repositories/repository.country.js"></script>
<script src="app/services/repositories/repository.state.js"></script>
<script src="app/services/repositories/repository.bodyparts.js"></script>
<script src="app/services/repositories/repository.categories.js"></script>
<script src="app/services/repositories/repository.subcategories.js"></script>
<script src="app/services/repositories/repository.equipments.js"></script>
<script src="app/services/repositories/repository.prophylactics.js"></script>
<script src="app/services/repositories/repository.skilllevels.js"></script>
<script src="app/services/repositories/repository.specificskills.js"></script>
<script src="app/services/repositories/repository.traininglocations.js"></script>
<script src="app/services/repositories/repository.exercises.js"></script>

</body>
</html>