
	<div id="wrapper">              
          <div id="page-wrapper">
            <div class="row" style="margin-top: 40px">
                <div class="col-lg-8">
                	<div class="col-lg-12" style="margin-bottom: 15px; padding: 0px;">
                	<div class="col-lg-9">
                    <input class="form-control" placeholder="Enter name for workout day" style="font-size: 24px; height: 44px;">
                  </div>
     <!--              <div class="col-lg-3">
                		<div class="form-group">
                        <select class="form-control" style="height: 44px;">
                            <option>Skill Level...</option>
                            <option>Beginner</option>
                            <option>Intermediate</option>
                            <option>Advanced</option>
                        </select>
                    </div>
                  </div> -->
                </div>
                  <div class="day-exercises col-lg-12">
										<div class="col-lg-6">
	                    <div class="panel panel-default" style="border: 1px dashed #ddd; background: transparent;">
	                    	<div class="panel-body">                    	
                            <div class="row">
	                        	<div class="col-xs-3">
	                          	<i class="fa fa-plus-square fa-5x" style="height: 157px"></i>
	                          </div>
	                          <div class="col-xs-9 text-right">
	                          	<div style="font-size:28px">Add</div>
				                    	<div class="font-size: 14px">New Exercise</div>
	                          </div>
	                        </div>
	                      </div>
	                      	<div class="panel-footer" style="background: transparent; border: none;">
														<button class="" data-toggle="modal" data-target="#addExerciseModal" style="border: none; background: transparent; color: #337ab7; padding: 0px;" >
                                Add new exercise
                            </button>	  </span>
									                <span class="pull-right"><i class="fa fa-arrow-circle-right" style=" color: #337ab7;"></i></span>
                            <div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Add Exercise(s) to Workout Day</h4>
                                        </div>
                                        <div class="modal-body">
	                            	<div class="input-group custom-search-form">
	                                <input type="text" class="form-control" placeholder="Search Exercises...">
	                                <span class="input-group-btn">
	                                <button class="btn btn-default" type="button">
	                                    <i class="fa fa-search"></i>
	                                </button>
	                            		</span>
	                            	</div>
	                            	<!-- /.input-group -->
	                            	<div class="form-group">
	                                            <select multiple="" class="form-control">
	                                                <option>EX 1</option>
	                                                <option>EX 2</option>
	                                                <option>EX 3</option>
	                                                <option>EX 4</option>
	                                                <option>EX 5</option>
	                                            </select>
	                              </div>
	                              <!-- /.form-group -->
	                            <button type="button" class="btn btn-success" style="margin-bottom: 30px">Create New Exercise</button>
	                            </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Add</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>	                        </div>
	                    </div>
	                	</div>
	                  <div class="col-lg-6">
									    <div class="panel panel-default">
									        <div class="panel-heading" style="text-align:right; font-size: 36px; line-height: 20px; cursor: move;" title="Click and drag to re-order (in real version)">
									        1
									        </div>
									        <div class="panel-body">
									            <div class="row">
									                <div class="col-xs-5">
									                    <img src="http://rxpilates.com/images/flextrotations.gif" style="width:auto; max-height: 116px">
									                </div>
									                <div class="col-xs-7 text-right">
									                    <div style="font-size: 28px">Rotations</div>
									                    <div class="font-size: 14px">Beginner</div>
									                </div>
									            </div>
									        </div>
									        <a>
									            <div class="panel-footer">
									                <span class="pull-left">View Rotations</span>
									                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									                <div class="clearfix"></div>
									            </div>
									        </a>
									    </div>
		                </div>
		                <!-- /.col-lg-6 -->
	                  <div class="col-lg-6">
									    <div class="panel panel-default">
									        <div class="panel-heading" style="text-align:right; font-size: 36px; line-height: 20px; cursor: move;" title="Click and drag to re-order (in real version)">
									        2
									        </div>
									        <div class="panel-body">
									            <div class="row">
									                <div class="col-xs-5">
									                    <img src="http://rxpilates.com/images/flextrotations.gif" style="width:auto; max-height: 116px">
									                </div>
									                <div class="col-xs-7 text-right">
									                    <div style="font-size: 28px">Rotations</div>
									                    <div class="font-size: 14px">Beginner</div>
									                </div>
									            </div>
									        </div>
									        <a>
									            <div class="panel-footer">
									                <span class="pull-left">View Rotations</span>
									                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									                <div class="clearfix"></div>
									            </div>
									        </a>
									    </div>
		                </div>
		                <!-- /.col-lg-6 -->
	                  <div class="col-lg-6">
									    <div class="panel panel-default">
									        <div class="panel-heading" style="text-align:right; font-size: 36px; line-height: 20px; cursor: move;" title="Click and drag to re-order (in real version)">
									        3
									        </div>
									        <div class="panel-body">
									            <div class="row">
									                <div class="col-xs-5">
									                    <img src="http://rxpilates.com/images/flextrotations.gif" style="width:auto; max-height: 116px">
									                </div>
									                <div class="col-xs-7 text-right">
									                    <div style="font-size: 28px">Rotations</div>
									                    <div class="font-size: 14px">Beginner</div>
									                </div>
									            </div>
									        </div>
									        <a>
									            <div class="panel-footer">
									                <span class="pull-left">View Rotations</span>
									                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									                <div class="clearfix"></div>
									            </div>
									        </a>
									    </div>
		                </div>
		                <!-- /.col-lg-6 -->
	                  <div class="col-lg-6">
									    <div class="panel panel-default">
									        <div class="panel-heading" style="text-align:right; font-size: 36px; line-height: 20px; cursor: move;" title="Click and drag to re-order (in real version)">
									        4
									        </div>
									        <div class="panel-body">
									            <div class="row">
									                <div class="col-xs-5">
									                    <img src="http://rxpilates.com/images/flextrotations.gif" style="width:auto; max-height: 116px">
									                </div>
									                <div class="col-xs-7 text-right">
									                    <div style="font-size: 28px">Rotations</div>
									                    <div class="font-size: 14px">Beginner</div>
									                </div>
									            </div>
									        </div>
									        <a>
									            <div class="panel-footer">
									                <span class="pull-left">View Rotations</span>
									                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									                <div class="clearfix"></div>
									            </div>
									        </a>
									    </div>
		                </div>
		                <!-- /.col-lg-6 -->
	                  <div class="col-lg-6">
									    <div class="panel panel-default">
									        <div class="panel-heading" style="text-align:right; font-size: 36px; line-height: 20px; cursor: move;" title="Click and drag to re-order (in real version)">
									        5
									        </div>
									        <div class="panel-body">
									            <div class="row">
									                <div class="col-xs-5">
									                    <img src="http://rxpilates.com/images/flextrotations.gif" style="width:auto; max-height: 116px">
									                </div>
									                <div class="col-xs-7 text-right">
									                    <div style="font-size: 28px">Rotations</div>
									                    <div class="font-size: 14px">Beginner</div>
									                </div>
									            </div>
									        </div>
									        <a>
									            <div class="panel-footer">
									                <span class="pull-left">View Rotations</span>
									                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									                <div class="clearfix"></div>
									            </div>
									        </a>
									    </div>
		                </div>
		                <!-- /.col-lg-6 -->
	                  <div class="col-lg-6">
									    <div class="panel panel-default">
									        <div class="panel-heading" style="text-align:right; font-size: 36px; line-height: 20px; cursor: move;" title="Click and drag to re-order (in real version)">
									        6
									        </div>
									        <div class="panel-body">
									            <div class="row">
									                <div class="col-xs-5">
									                    <img src="http://rxpilates.com/images/flextrotations.gif" style="width:auto; max-height: 116px">
									                </div>
									                <div class="col-xs-7 text-right">
									                    <div style="font-size: 28px">Rotations</div>
									                    <div class="font-size: 14px">Beginner</div>
									                </div>
									            </div>
									        </div>
									        <a>
									            <div class="panel-footer">
									                <span class="pull-left">View Rotations</span>
									                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									                <div class="clearfix"></div>
									            </div>
									        </a>
									    </div>
		                </div>
		                <!-- /.col-lg-6 -->
		              </div>
                <!-- /.col-lg-12 -->
                </div>
                <div class="col-lg-4">
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Publish
	                  </div>
	                  <div class="panel-body">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
                                  <!--           <label>Visible to:</label>
                                            <select id="selectVisibleTo" class="form-control">
                                                <option value="1">All</option>
                                                <option value="2">None</option>
                                                <option value="3">Specific Orgs</option>
                                                <option value="4">Excluding Orgs</option>
                                            </select> -->
   								<label>Prophylactics(can select many)</label>
                                <select ui-select2 data-placeholder="Pick a Prophylactics" multiple style="width: 100%;" name="prophylactic_id" ng-model="workoutForm.prophylactic_id">
                                 	<option>Prophylactic 1</option>
                                 	<option>Prophylactic 2</option>
                                 	<option>Prophylactic 3</option>
                                 	<option>Prophylactic 4</option>
                                </select>
                            	</div>
                            	<!-- /.form-group -->
                            	<div id="selectVisibleOrganizations" class="hidden">
	                            	<div class="input-group custom-search-form">
	                                <input type="text" class="form-control" placeholder="Search Organizations...">
	                                <span class="input-group-btn">
	                                <button class="btn btn-default" type="button">
	                                    <i class="fa fa-search"></i>
	                                </button>
	                            		</span>
	                            	</div>
	                            	<!-- /.input-group -->
	                            	<div class="form-group">
	                                            <select multiple class="form-control">
	                                                <option>Org 1</option>
	                                                <option>Org 2</option>
	                                                <option>Org 3</option>
	                                                <option>Org 4</option>
	                                                <option>Org 5</option>
	                                            </select>
	                              </div>
	                              <!-- /.form-group -->
	                            </div>
                            <!-- /#selectVisibleOrganizations -->
	                          </div>
	                          <!-- /. col-lg-12 -->
                    </div>
                    <!-- /.panel-body -->
	                  <div class="panel-footer">
	                  		<button type="submit" class="btn btn-default" >Save Draft</button>
	                  		<button type="submit" class="btn btn-primary" style="float:right;" >Publish</button>
	                  	<!-- /.col-lg-12 -->
	                  </div>
	                  
                	</div>
                	<!-- /.panel -->
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Specifics
	                  </div>
	                  <div class="panel-body">
	                      <div class="row">
	                    	<div class="col-lg-12">
	                    		<div class="form-group">
	                              <label>Skill Level :</label>
	                              Beginner,Intermediate,Advanced
	                      		</div>
	                      		<div class="form-group">
	                              <label>#Reps :</label>
	                              2
	                      		</div>
	                      		<div class="form-group">
	                              <label>#Sets :</label>
	                              4
	                      		</div>
	                      		<div class="form-group">
	                              <label>Sec/rep :</label>
	                              3
	                      		</div>
	                      		<div class="form-group">
	                              <label>Rest b/w sets :</label>
	                              2
	                      		</div>
	                      		<div class="form-group">
	                              <label>#Athletes :</label>
	                              4
	                      		</div>
	                      		<div class="form-group">
	                              <label>Equipment Needed :</label>
	                               Agility Bags,Bat,Cones,Dumbbells,Glove
	                      		</div>
	                      		<div class="form-group">
	                              <label>Training location :</label>
	                              Whole Field,Infield,Outfield,Bullpen
	                      		</div>
	                      		<div class="form-group">
	                              <label>Specific Skills :</label>
	                              ABC,PQR
	                      		</div>
	                      		<div class="form-group">
	                              <label>Bodyparts :</label>
	                              Legs,Chest
	                      		</div>
	                      		<div class="form-group">
	                              <label>Intensity :</label>
	                              30%
	                      		</div>
	                      	</div>
	                      </div>
	                  </div>
                	</div>
                	<!-- /.panel -->
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Categories
	                  </div>
	                  <div class="panel-body">
	                      <div class="row">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
	                              <label>Category :</label>
	                              Aerobic,Cool-Down,Coordination/Balance,Dynamic Warm-Up
	                      		</div>
                            	<div class="form-group">
                            	<label>Sub-Category :</label>
	                          	Core Stability,Dynamic Flexibility,Flexibility,Function
                              </div>
	                          </div>
	                      </div>
	                  </div>
                	</div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
	</div>
