
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->




<div class="row">


    <div class="col-md-7" style="width: 100%;">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet">

            <div class="clearfix"></div>
            <div style="margin-bottom:20px;">

    <!--             <div class="pull-left">
                    <form method="GET" action="http://localhost/ekintx/web_old/public/webadmin/states" accept-charset="UTF-8" class="form-inline" name="filter" id="filter">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search..." required="1" name="q" type="search">
                        </div>
                        <input id="sortby" name="sortby" type="hidden">
                        <input id="order" name="order" type="hidden">
                        &nbsp;&nbsp;
                        <button type="submit" class="btn green">Search</button>
                        &nbsp;
                        <a href="http://localhost/ekintx/web_old/public/webadmin/states" class="btn default">Clear</a>
                    </form>
                </div> -->

                <div class="clearfix"></div>
            </div>
            <div style="margin-bottom:20px;">
                <div class="pull-left">3 record(s) found</div>
                <div class="pull-right">
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success"> Delete Selected</a>
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="addNewWorkout()"> Add New Workout</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="portlet-body">


                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ><input class="check_all" id="check_all" name="check_all" type="checkbox" value=""></th>
                                <th style="width:30%;">
                                    Workout Name<a href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);"><i class="fa fa-angle-up"></i>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14"></td>
                                <td>Workout1</td>
                                <td>
                                    <a href="javascript:void(0);"  class="del-btn" ng-click="edit()"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" ng-click="delete()" class="del-btn"> Delete </a>
                                </td>
                            </tr>

                            <tr>
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14"></td>
                                <td>Workout2</td>
                                <td>
                                    <a href="javascript:void(0);"  class="del-btn" ng-click="edit()"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" ng-click="delete()" class="del-btn"> Delete </a>
                                </td>
                            </tr>

                            <tr>
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14"></td>
                                <td>Workout3</td>
                                <td>
                                    <a href="javascript:void(0);"  class="del-btn" ng-click="edit()"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" ng-click="delete()" class="del-btn"> Delete </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>

                    <!--pagination can go here-->
               <!--      <posts-pagination style="float: right;"></posts-pagination> -->

                </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>

</div>

