
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->


<div class="row" ng-init="getListing()">


    <div class="col-md-7" style="width:100%;">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet">

            <div class="clearfix"></div>
            <div style="margin-bottom:20px;">

                <div class="pull-left">
                    <form method="GET" action="http://localhost/ekintx/web_old/public/webadmin/states" accept-charset="UTF-8" class="form-inline" name="filter" id="filter">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search..." required="1" name="q" type="search">
                        </div>
                        <input id="sortby" name="sortby" type="hidden">
                        <input id="order" name="order" type="hidden">
                        &nbsp;&nbsp;
                        <button type="submit" class="btn green">Search</button>
                        &nbsp;
                        <a href="http://localhost/ekintx/web_old/public/webadmin/states" class="btn default">Clear</a>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <div style="margin-bottom:20px;">
                <div class="pull-left">{{organizations.length}} record(s) found</div>
                <div class="pull-right">
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="deleteSelected()"> Delete Selected</a>
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="addNewOrg()"> Add New Organization</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="portlet-body">

                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ><input class="check_all" id="check_all" name="check_all" type="checkbox" value=""></th>
                                <th style="width:30%;">
                                    Organization Name <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th >
                                    Address <a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="organization in organizations">
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14" ng-change="stateChanged($index,organization.id)" ng-model="answers[organization.id]"></td>
                                <td>{{organization.name}}</td>

                                 <td>
                                     {{organization.street}},
                                     {{organization.street2}}
                                     <br >{{organization.city}}, {{organization.state.name}}
                                 </td>
                                <td>
                                    <a href="javascript:void(0);"  class="del-btn" ng-click="edit($index)"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" class="del-btn" ng-click="delete($index)"> Delete </a>



                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <!--pagination can go here-->
                    <posts-pagination style="float: right;"></posts-pagination>

                </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>

    <script type="text/ng-template" id="addOrgModal.html">

    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Add New Organization</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="organizationForm" ng-submit="organizationForm.$valid && send(vm.organizationForm)" novalidate>
                        <div class="form-body">





                            <div class="form-group">
                                <label class="col-md-4 control-label">Organization Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Organization name" name="name" type="text" ng-model="vm.organizationForm.name" required ng-keypress="organizationForm.name.$error.serverMessage=''" ng-keydown="organizationForm.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationForm.name.$error.serverMessage">{{organizationForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationForm.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                           
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address" name="street" type="text" ng-model="vm.organizationForm.street" required ng-keypress="organizationForm.street.$error.serverMessage=''" ng-keydown="organizationForm.street.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationForm.street.$error.serverMessage">{{organizationForm.street.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationForm.street.$error.required">The street field is required.</span>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address 2</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address 2" name="street2" type="text" ng-model="vm.organizationForm.street2">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">City</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="City" name="city" type="text" ng-model="vm.organizationForm.city" required ng-keypress="organizationForm.city.$error.serverMessage=''" ng-keydown="organizationForm.city.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationForm.city.$error.serverMessage">{{organizationForm.city.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationForm.city.$error.required">The city field is required.</span>
                                    </div>
                                </div>
                         
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">State</label>
                                <div class="col-md-8">


                                    <select class="form-control" name="state_id" id="" ng-model="vm.organizationForm.state_id" required>
                                        <option value="" ng-selected="true">Select State</option>
                                        <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                                    </select>
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationForm.state_id.$error.serverMessage">{{organizationForm.state_id.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationForm.state_id.$error.required">The state field is required.</span>
                                    </div>
                                </div>
                           
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Zip / Postal Code</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Zip / Postal Code" name="postal_code" type="text" ng-model="vm.organizationForm.postal_code" required ng-keypress="organizationForm.postal_code.$error.serverMessage=''" ng-keydown="organizationForm.postal_code.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationForm.postal_code.$error.serverMessage">{{organizationForm.postal_code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationForm.postal_code.$error.required">The postal code field is required.</span>
                                    </div>
                                </div>
                          
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Submit</button>
                                    <a class="btn default" ng-click="cancel(organizationForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>

</script>

<script type="text/ng-template" id="editOrgModal.html">
 
<div class="col-md-5 modalNew">
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">Update Organization</span>
        </div>

    </div>
    <div class="portlet-body form">


            <form class="form-horizontal" name="organizationFormEdit" ng-submit="organizationFormEdit.$valid && update(organizationForm)" novalidate>
                <div class="form-body">

                     
                            <div class="form-group">
                                <label class="col-md-4 control-label">Organization Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Organization name" name="name" type="text" ng-model="organizationForm.name" required ng-keypress="organizationFormEdit.name.$error.serverMessage=''" ng-keydown="organizationFormEdit.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationFormEdit.name.$error.serverMessage">{{organizationFormEdit.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationFormEdit.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                           
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address" name="street" type="text" ng-model="organizationForm.street" required ng-keypress="organizationFormEdit.street.$error.serverMessage=''" ng-keydown="organizationFormEdit.street.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationFormEdit.street.$error.serverMessage">{{organizationFormEdit.street.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationFormEdit.street.$error.required">The street field is required.</span>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Street Address 2</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Street Address 2" name="street2" type="text" ng-model="organizationForm.street2">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">City</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="City" name="city" type="text" ng-model="organizationForm.city" required ng-keypress="organizationFormEdit.city.$error.serverMessage=''" ng-keydown="organizationFormEdit.city.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationFormEdit.city.$error.serverMessage">{{organizationFormEdit.city.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationFormEdit.city.$error.required">The city field is required.</span>
                                    </div>
                                </div>
                         
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">State</label>
                                <div class="col-md-8">


                                    <select class="form-control" name="state_id" id="" ng-model="organizationForm.state_id" required>
                                        <option value="" ng-selected="true">Select State</option>
                                        <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                                    </select>
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationFormEdit.state_id.$error.serverMessage">{{organizationFormEdit.state_id.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationFormEdit.state_id.$error.required">The state field is required.</span>
                                    </div>
                                </div>
                           
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Zip / Postal Code</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="Zip / Postal Code" name="postal_code" type="text" ng-model="organizationForm.postal_code" required ng-keypress="organizationFormEdit.postal_code.$error.serverMessage=''" ng-keydown="organizationFormEdit.postal_code.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && organizationFormEdit.postal_code.$error.serverMessage">{{organizationFormEdit.postal_code.$error.serverMessage}}</span>
                                    <span ng-if="submitted && organizationFormEdit.postal_code.$error.required">The postal code field is required.</span>
                                    </div>
                                </div>
                          
                            </div>   

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green" ng-click="submitted=true">Update</button>
                            <a class="btn default" ng-click="cancel(organizationForm)">Cancel</a>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->
</div>
</script>


</div>
