
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Add {{vm.head}}</h1>
<!-- END PAGE TITLE-->
<form class="form-horizontal" name="exerciseForm" ng-submit="exerciseForm.$valid && send()" novalidate>


<div class="row">

    <div class="col-md-5">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
 
            <div class="portlet-body form">


                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Exercise Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Exercise Name" name="name" type="text" ng-model="exerciseFormField.name" ng-minlength="6" required>
                                    
                                    <div ng-messages="exerciseForm.name.$error" ng-if='submitted || exerciseForm.name.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>

                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Purpose</label>
                                <div class="col-md-8">

                                    <textarea class="form-control" placeholder="Exercise Description" name="purpose" ng-model="exerciseFormField.purpose" required></textarea>
                                    
                                    <div ng-messages="exerciseForm.purpose.$error" ng-if='submitted || exerciseForm.purpose.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>

                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                            <label class="col-md-4 control-label">Instruction</label>
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">

                                    <textarea class="form-control" placeholder="Exercise Description" name="instruction" ng-model="exerciseFormField.instruction" required></textarea>

                                    <div ng-messages="exerciseForm.instruction.$error" ng-if='submitted || exerciseForm.instruction.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                            <label class="col-md-4 control-label">Pointers</label>
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">

                                    <textarea class="form-control" placeholder="Exercise Description" name="pointers" ng-model="exerciseFormField.pointers" required></textarea>

                                    <div ng-messages="exerciseForm.pointers.$error" ng-if='submitted || exerciseForm.pointers.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                            <label class="col-md-4 control-label">Variations</label>
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">

                                    <textarea class="form-control" placeholder="Exercise Description" name="variations" ng-model="exerciseFormField.variations" required></textarea>

                                    <div ng-messages="exerciseForm.variations.$error" ng-if='submitted || exerciseForm.variations.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Number Of Athletes</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Number Of Athletes" name="num_athletes" type="text" ng-model="exerciseFormField.num_athletes" required>
                                    
                                    <div ng-messages="exerciseForm.num_athletes.$error" ng-if='submitted || exerciseForm.num_athletes.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>

                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Intensity</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Intensity" name="intensity" type="text" ng-model="exerciseFormField.intensity" required>


                                    <div ng-messages="exerciseForm.intensity.$error" ng-if='submitted || exerciseForm.intensity.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Reps</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Reps" name="reps" type="text" ng-model="exerciseFormField.reps" required>


                                    <div ng-messages="exerciseForm.reps.$error" ng-if='submitted || exerciseForm.reps.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Time/Rep</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Time Per Rep" name="time_per_rep" type="text" ng-model="exerciseFormField.time_per_rep" required>

                                    <div ng-messages="exerciseForm.time_per_rep.$error" ng-if='submitted || exerciseForm.time_per_rep.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Sets</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Sets" name="sets" type="text" ng-model="exerciseFormField.sets" required>
                                    
                                    <div ng-messages="exerciseForm.sets.$error" ng-if='submitted || exerciseForm.sets.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>

                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Rest between Sets</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Rest between Sets" name="rest_between_sets" type="text" ng-model="exerciseFormField.rest_between_sets" required>

                                    <div ng-messages="exerciseForm.rest_between_sets.$error" ng-if='submitted || exerciseForm.rest_between_sets.$dirty'>
                                        <div ng-messages-include="app/template/errorTemplate.html"></div>
                                    </div>
                
                                </div>
                         
                            </div>
                        </div>

            </div>


        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->

    </div>

    <div class="col-md-5">
                <div class="portlet light bordered portlet-body form">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-dark sbold">Exercise Attributes</span>
                        </div>

                    </div>

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Training Location</label>
                            <div class="col-md-8">

                                <select class="form-control" name="traininglocation_id" id="" ng-model="exerciseFormField.traininglocation_id" required>
                                        <option value="" ng-selected="true">Select Training Location</option>
                                        <option ng-repeat="traininglocation in traininglocations" value="{{traininglocation.id}}">{{traininglocation.name}}</option>
                                </select>

                                <div ng-messages="exerciseForm.traininglocation_id.$error" ng-if='submitted || exerciseForm.traininglocation_id.$dirty'>
                                    <div ng-messages-include="app/template/errorTemplate.html"></div>
                                </div>

                            </div>
                     
                        </div>
                    </div>

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Category</label>
                            <div class="col-md-8">

                                <select class="form-control" name="category_id" id="" ng-model="exerciseFormField.category_id" required>
                                        <option value="" ng-selected="true">Select Category</option>
                                        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                                </select>

                                <div ng-messages="exerciseForm.category_id.$error" ng-if='submitted || exerciseForm.category_id.$dirty'>
                                    <div ng-messages-include="app/template/errorTemplate.html"></div>
                                </div>

                            </div>
                     
                        </div>
                    </div>

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Sub Category</label>
                            <div class="col-md-8">

                            <select class="form-control" name="subcategory_id" id="" ng-model="exerciseFormField.subcategory_id" required>
                                    <option value="" ng-selected="true">Select Sub Category</option>
                                    <option ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{subcategory.name}}</option>
                            </select>

                            <div ng-messages="exerciseForm.subcategory_id.$error" ng-if='submitted || exerciseForm.subcategory_id.$dirty'>
                                <div ng-messages-include="app/template/errorTemplate.html"></div>
                            </div>
                 

                            </div>
                     
                        </div>
                    </div>

                </div>


                <div class="portlet light bordered portlet-body form">

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Exercise Skills</label>
                            <div class="col-md-8">

                                <select ui-select2 data-placeholder="Pick a Skill Level" multiple style="width: 100%;" ng-model="exerciseFormField.skilllevel_id" name="skilllevel_id" required>
                                    <option ng-repeat="skilllevel in skilllevels" value="{{skilllevel.id}}">{{skilllevel.name}}</option>
                                </select>

                                <div ng-messages="exerciseForm.skilllevel_id.$error" ng-if='submitted || exerciseForm.skilllevel_id.$dirty'>
                                    <div ng-messages-include="app/template/errorTemplate.html"></div>
                                </div>

                            </div>
                     
                        </div>
                    </div>

                </div>


                <div class="portlet light bordered portlet-body form">

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Exercise Specific Skills</label>
                            <div class="col-md-8">

                                 <select ui-select2 data-placeholder="Pick a Specific Skill" multiple style="width: 100%;" ng-model="exerciseFormField.specificskill_id" name="specificskill_id" required>
                                    <option ng-repeat="specificskill in specificskills" value="{{specificskill.id}}">{{specificskill.name}}</option>
                                </select>

                                <div ng-messages="exerciseForm.specificskill_id.$error" ng-if='submitted || exerciseForm.specificskill_id.$dirty'>
                                    <div ng-messages-include="app/template/errorTemplate.html"></div>
                                </div>

                            </div>
                     
                        </div>
                    </div>

                </div>


                <div class="portlet light bordered portlet-body form">

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Bodyparts</label>
                            <div class="col-md-8">

                                 <select ui-select2 data-placeholder="Pick a Bodypart" multiple style="width: 100%;" ng-model="exerciseFormField.bodypart_id" name="bodypart_id" required>
                                    <option ng-repeat="bodypart in bodyparts" value="{{bodypart.id}}">{{bodypart.name}}</option>
                                </select>


                                <div ng-messages="exerciseForm.bodypart_id.$error" ng-if='submitted || exerciseForm.bodypart_id.$dirty'>
                                    <div ng-messages-include="app/template/errorTemplate.html"></div>
                                </div>

                            </div>
                     
                        </div>
                    </div>

                </div>


                <div class="portlet light bordered portlet-body form">

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Equipments</label>
                            <div class="col-md-8">

                                 <select ui-select2 data-placeholder="Pick an Equipment" multiple style="width: 100%;" ng-model="exerciseFormField.equipment_id" name="equipment_id" required>
                                    <option ng-repeat="equipment in equipments" value="{{equipment.id}}">{{equipment.name}}</option>
                                </select>

                                <div ng-messages="exerciseForm.equipment_id.$error" ng-if='submitted || exerciseForm.equipment_id.$dirty'>
                                    <div ng-messages-include="app/template/errorTemplate.html"></div>
                                </div>

                            </div>
                     
                        </div>
                    </div>

                </div>

                    <div class="portlet light bordered portlet-body form">

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Upload Image</label>
                                <div class="col-md-8">

                                    <input class="form-control" type="file" ngf-select="uploadExerciseImages($files)" ngf-multiple="true" ng-model="exerciseFormField.exercise_assets_image"/>

            
                                </div>
                         
                            </div>
                        </div>

                     </div>

                    <div class="portlet light bordered portlet-body form">

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Upload Video</label>
                                <div class="col-md-8">

                                    <input class="form-control" type="file" ngf-select="uploadExerciseVideos($files)" ngf-multiple="true" ng-model="exerciseFormField.exercise_assets_video"/>

        
                                </div>
                         
                            </div>
                        </div>

                     </div>

                    <div class="portlet light bordered portlet-body form">

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Upload GIF</label>
                                <div class="col-md-8">

                                    <input class="form-control" type="file" ngf-select="uploadExerciseGifs($files)" ngf-multiple="true" ng-model="exerciseFormField.exercise_assets_gif"/>

   
                                </div>
                         
                            </div>
                        </div>

                     </div>


                 <div class="form-actions portlet light bordered">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green" ng-click="submitted=true">PUBLISH</button>
                        </div>
                    </div>
                </div>
    </div>

</div>

</form>


