<html>
<body>
	<div id="wrapper">
<form role="form" class="form-horizontal" name="exerciseForm" ng-submit="exerciseForm.$valid && send()" novalidate>

        <div id="page-wrapper">
            <div class="row" style="margin-top: 40px">
                <div class="col-lg-8">
                	<div class="col-lg-12" style="margin-bottom: 15px; padding: 0px;">
                	<div class="col-lg-9">
                    <input class="form-control" placeholder="Enter exercise name" style="font-size: 24px; height: 44px;" ng-model="exerciseFormField.name" name="name">
                  </div>
                  <div class="col-lg-3">
                		<div class="form-group">
                        <select class="form-control" style="height: 44px;" ng-model="exerciseFormField.skilllevel_id" name="skilllevel_id">
                         <option ng-selected="true">Skill Level...</option>
                            <option ng-repeat="skilllevel in skilllevels" value="{{skilllevel.id}}">{{skilllevel.name}}</option>
                        </select>
                    </div>
                  </div>
                </div>
                  <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Exercise Info
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
									<div class="form-group">
                                		<label style="width: 100%; clear: both;">Rep/Set Info</label>
																		<div class="row">
	                                		<div class="col-sm-6">
	                                			<input type="number" step="1" min="1" class="form-control" placeholder="# Reps" ng-model="exerciseFormField.reps" name="reps">
	                                		</div>
	                                		<div class="col-sm-6" style="padding-bottom: 15px">
	                                			<input type="number" step="1" min="1" class="form-control" placeholder="# Sets" ng-model="exerciseFormField.sets" name="sets"> 
	                                		</div>
	                                	</div>
	                                	<div class="row">
	                                		<div class="col-sm-6">
	                                			<input type="number" step="0.1" min="0" class="form-control" placeholder="sec/rep" ng-model="exerciseFormField.time_per_rep" name="time_per_rep">
	                                		</div>
	                                		<div class="col-sm-6">
	                                			<input type="number" step="5" min="0" class="form-control" placeholder="rest b/w sets" ng-model="exerciseFormField.rest_between_sets" name="rest_between_sets">
	                                		</div>
	                                	</div>
                                  </div>
                                  <div class="form-group" style="margin-top: 12px">
	                                	<label># Athletes</label>
	                               <select class="form-control" ng-model="exerciseFormField.num_athletes" name="num_athletes">
	                                  	<option value="1">Individual (1)</option>
                                        <option value="2">Pair (2)</option>
                                        <option value="3-7">Small Group (3-7)</option>
                                        <option value="8-20">Team (8-20)</option>
                                        <option value="Multiple Teams">Multiple Teams</option>
                                        <option value="Camp">Camp</option>
                                    </select>
		                              </div>
	                              </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-6">
	                                <div class="form-group">
	                                  <label>Equipment Needed (can select many)</label>
	                                  <select multiple class="form-control" ng-model="exerciseFormField.equipment_id" name="equipment_id">
                                       <option ng-repeat="equipment in equipments" value="{{equipment.id}}">{{equipment.name}}</option>
	                                   </select>
                                	</div>
                                	<div class="form-group">
	                                  <label>Training Location</label>
	                                  <select class="form-control" ng-model="exerciseFormField.traininglocation_id" name="traininglocation_id">

                                        <option ng-repeat="traininglocation in traininglocations" value="{{traininglocation.id}}">{{traininglocation.name}}</option>
	                                   </select>
	                                </div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Upload Files...
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
	                                <div class="form-group">
	                                    <label>Upload image(s)</label>
	                                    <input type="file">
	                                </div>
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-4">
	                                <div class="form-group">
	                                    <label>Upload video(s)</label>
	                                    <input type="file">
	                                </div>
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-4">
	                                <div class="form-group">
	                                    <label>Upload gif(s)</label>
	                                    <input type="file">
	                                </div>
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
	                                <div class="form-group">
	                                    <textarea class="form-control" rows="4" placeholder="Enter Purpose" ng-model="exerciseFormField.purpose" name="purpose"></textarea>
	                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                            <div class="row">
                                <div class="col-lg-12">
	                                <div class="form-group">
	                                    <textarea class="form-control" rows="4" placeholder="Enter Instruction" ng-model="exerciseFormField.instruction" name="instruction"></textarea>
	                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                            <div class="row">
                                <div class="col-lg-12">
	                                <div class="form-group">
	                                    <textarea class="form-control" rows="4" placeholder="Enter Pointers" ng-model="exerciseFormField.pointers" name="pointers"></textarea>
	                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                            <div class="row">
                                <div class="col-lg-12">
	                                <div class="form-group">
	                                    <textarea class="form-control" rows="4" placeholder="Enter Variations" ng-model="exerciseFormField.variations" name="variations"></textarea>
	                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
              </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-4">
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Publish
	                  </div>
	                  <div class="panel-body">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
                                            <label>Visible to:</label>
                                            <select id="selectVisibleTo" class="form-control">
                                                <option value="1">All</option>
                                                <option value="2">None</option>
                                                <option value="3">Specific Orgs</option>
                                                <option value="4">Excluding Orgs</option>
                                            </select>
                            	</div>
                            	<!-- /.form-group -->
                            	<div id="selectVisibleOrganizations" class="hidden">
	                            	<div class="input-group custom-search-form">
	                                <input type="text" class="form-control" placeholder="Search Organizations...">
	                                <span class="input-group-btn">
	                                <button class="btn btn-default" type="button">
	                                    <i class="fa fa-search"></i>
	                                </button>
	                            		</span>
	                            	</div>
	                            	<!-- /.input-group -->
	                            	<div class="form-group">
	                                            <select multiple class="form-control">
	                                                <option>Org 1</option>
	                                                <option>Org 2</option>
	                                                <option>Org 3</option>
	                                                <option>Org 4</option>
	                                                <option>Org 5</option>
	                                            </select>
	                              </div>
	                              <!-- /.form-group -->
	                            </div>
                            <!-- /#selectVisibleOrganizations -->
	                          </div>
	                          <!-- /. col-lg-12 -->
                    </div>
                    <!-- /.panel-body -->
	                  <div class="panel-footer">
	                  		<button type="submit" class="btn btn-default" >Save Draft</button>
	                  		<button type="submit" class="btn btn-primary" style="float:right;" >Publish</button>
	                  	<!-- /.col-lg-12 -->
	                  </div>
	                  
                	</div>
                	<!-- /.panel -->
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Specifics
	                  </div>
	                  <div class="panel-body">
	                      <div class="row">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
                                  <select id="chooseSport" class="form-control">
                                      <option value="0">Choose Sport...</option>
                                      <option value="1">Baseball</option>
                                      <option value="2">Softball</option>
                                  </select>
                              </div>
	                          	<div id="specificPosition" class="form-group hidden">
                                  <select class="form-control">
                                      <option>Choose Position...</option>
                                      <option>All</option>
                                      <option>INF</option>
                                      <option>OF</option>
                                      <option>P</option>
                                      <option>C</option>
                                      <option>1B</option>
                                      <option>2B</option>
                                      <option>3B</option>
                                      <option>SS</option>
                                      <option>LF</option>
                                      <option>CF</option>
                                      <option>RF</option>
                                  </select>
                              </div>
	                          	<div class="form-group">
                                  <select class="form-control">
                                      <option>Choose Season...</option>
                                      <option>Any Season</option>
                                      <option>In-Season</option>
                                      <option>Off-Season</option>
                                      <option>Pre-Season</option>
                                      <option>Post-Season</option>
                                  </select>
                              </div>
	                          	<div class="form-group">
                                  <select class="form-control">
	                                  	<option>Choose Prophylactic...</option><option>Arm Injury</option><option>Concentration</option><option>Coordination</option><option>Foot Placement</option><option> Foot Quickness</option><option>Hip Flexibility</option><option>Lateral Movement</option><option>Mobility Restriction</option><option>Reaction Time</option><option>Slow Hip Rotation</option><option>Weight Shift During Swing</option>	                                  </select>
                              </div>
	                          	<div class="form-group">
                                  <label>Ages</label>
                                  <span style="float: right;"><input name="age_min" id="age_min" type="number" step="1" min="1" max="99" value="8" style="margin-left: 6px"> - <input name="age_min" id="age_min" type="number" step="1" min="1" max="99" value="10"></span>
                                            
                            	</div>
	                          </div>
	                      </div>
	                  </div>
                	</div>
                	<!-- /.panel -->
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Categories
	                  </div>
	                  <div class="panel-body">
	                      <div class="row">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
	                              <label>Category</label>
	                              <select class="form-control" ng-model="exerciseFormField.category_id" name="category_id">
	                                  <option>Select One...</option>
	                                   <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
	                              </select>
                            	</div>
                            	<div class="form-group">
                            		<label>Sub-Category</label>
	                                <select class="form-control" ng-model="exerciseFormField.subcategory_id" name="subcategory_id">
	                                	<option>Select One...</option>
                                        <option ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{subcategory.name}}</option>
                                    </select>
                              </div>
	                          </div>
	                      </div>
	                  </div>
                	</div>
                	<!-- /.panel -->
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Prerequisites
	                  </div>
	                  <div class="panel-body">
	                      <div class="row">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
	                              <label>Optional (can choose multiple)</label>
	                              <select multiple class="form-control">
	                                  <option>Add New...</option>
	                                  <option>Prereq 1</option>
	                                  <option>Prereq 2</option>
	                                  <option>Prereq 3</option>
	                                  <option>Prereq 4</option>
	                                  <option>Prereq 5</option>
	                                  <option>Prereq 6</option>
	                                  <option>Prereq 7</option>
	                              </select>
                            	</div>
	                          </div>
	                      </div>
	                  </div>
                	</div>
                	<!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
                                    </form>
	</div>
	<!-- /#wrapper -->
  </body>
    	
    <script>
    	$(function() {   
  			$(document).on('change keyup mouseup','#selectVisibleTo',function(){
  				if (parseInt($('#selectVisibleTo').val()) > 2) {
  					$('#selectVisibleOrganizations').removeClass('hidden');
  				} else {
  					$('#selectVisibleOrganizations').addClass('hidden');
  				}
  			});
  			$(document).on('change keyup mouseup','#chooseSport', function(){
  				if (parseInt($('#chooseSport').val()) > 0) {
  					$('#specificPosition').removeClass('hidden');
  				} else {
  					$('#specificPosition').addClass('hidden');
  				}
  			});
			});
    </script>

</html>
