<html>
<body>
	<div id="wrapper">
<form role="form" name="exerciseFormEdit" ng-submit="submitted && update()" novalidate>

        <div id="page-wrapper">
            <div class="row" style="margin-top: 40px">
                <div class="col-lg-8">
                	<div class="col-lg-12" style="margin-bottom: 15px; padding: 0px;">
                	<div class="col-lg-9">
                    <input class="form-control" placeholder="Enter exercise name" style="font-size: 24px; height: 44px;" ng-model="exerciseFormFieldEdit.name" name="name">
                  </div>
                  <div class="col-lg-3">
                	<div class="form-group">
                        <select class="form-control" style="height: 44px;" ng-model="exerciseFormFieldEdit.skilllevel_id" name="skilllevel_id">
                            <option value="" ng-selected="true">Skill Level...</option>
                            <option ng-repeat="skilllevel in skilllevels" value="{{skilllevel.id}}" ng-selected="exerciseFormFieldEdit.skilllevel_id == skilllevel.id">{{skilllevel.name}}</option>
                        </select>
                    </div>
                  </div>
                </div>
                  <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Exercise Info
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
									<div class="form-group">
                                		<label style="width: 100%; clear: both;">Rep/Set Info</label>
																		<div class="row">
	                                		<div class="col-sm-6">
	                                			<input type="number" step="1" min="1" class="form-control" placeholder="# Reps" ng-model="exerciseFormFieldEdit.reps" name="reps" string-to-number>
	                                		</div>
	                                		<div class="col-sm-6" style="padding-bottom: 15px">
	                                			<input type="number" step="1" min="1" class="form-control" placeholder="# Sets" ng-model="exerciseFormFieldEdit.sets" name="sets" string-to-number> 
	                                		</div>
	                                	</div>
	                                	<div class="row">
	                                		<div class="col-sm-6">
	                                			<input type="number" step="0.1" min="0" class="form-control" placeholder="sec/rep" ng-model="exerciseFormFieldEdit.time_per_rep" name="time_per_rep" string-to-number>
	                                		</div>
	                                		<div class="col-sm-6">
	                                			<input type="number" step="5" min="0" class="form-control" placeholder="rest b/w sets" ng-model="exerciseFormFieldEdit.rest_between_sets" name="rest_between_sets" string-to-number>
	                                		</div>
	                                	</div>
                                  </div>
                                  <div class="form-group" style="margin-top: 12px">
	                                	<label># Athletes</label>
	                               <select class="form-control" ng-model="exerciseFormFieldEdit.num_athletes" name="num_athletes">
                                        <option value="" ng-selected="true">Athletes...</option>
	                                  	<option value="1" ng-selected="exerciseFormFieldEdit.num_athletes == '1'">Individual (1)</option>
                                        <option value="2" ng-selected="exerciseFormFieldEdit.num_athletes == '2'">Pair (2)</option>
                                        <option value="3-7" ng-selected="exerciseFormFieldEdit.num_athletes == '3-7'">Small Group (3-7)</option>
                                        <option value="8-20" ng-selected="exerciseFormFieldEdit.num_athletes == '8-20'">Team (8-20)</option>
                                        <option value="Multiple Teams" ng-selected="exerciseFormFieldEdit.num_athletes == 'Multiple Teams'">Multiple Teams</option>
                                        <option value="Camp" ng-selected="exerciseFormFieldEdit.num_athletes == 'Camp'">Camp</option>
                                    </select>
		                              </div>
	                              </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-6">
	                                <div class="form-group">
	                                  <label>Equipment Needed (can select many)</label>
	                               <!--    <select multiple class="form-control" ng-model="exerciseFormFieldEdit.equipment_id" name="equipment_id">
                                       <option ng-repeat="equipment in equipments" value="{{equipment.id}}" ng-selected="true">{{equipment.name}}</option>
	                                   </select> -->
                                    <select ui-select2 data-placeholder="Pick an Equipment" multiple style="width: 100%;" ng-model="exerciseFormFieldEdit.equipment_id">
                                        <option ng-repeat="equipment in equipments" value="{{equipment.id}}" ng-bind="equipment.name"></option>
                                    </select>
                                	</div>
                                	<div class="form-group">
	                                  <label>Training Location</label>
	                                  <select class="form-control" ng-model="exerciseFormFieldEdit.traininglocation_id" name="traininglocation_id">
                                      <option ng-selected="true" value="">Training Location...</option>
                                        <option ng-repeat="traininglocation in traininglocations" value="{{traininglocation.id}}" ng-selected="exerciseFormFieldEdit.traininglocation_id == traininglocation.id">{{traininglocation.name}}</option>
	                                   </select>
	                                </div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-primary cust-panel">
                        <div class="panel-heading">
                            Upload Files...
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
	                                <div class="form-group">
	                               <label>Upload image(s)</label>
	                               <input class="form-control" type="file" ngf-select="uploadFiles($file, $invalidFiles ,1,'image')" ng-model="picture.picFile1" name="file"/>
                                    <span style="cursor: pointer;" title="click to add 1 more image" ng-if="plus1 == 1" class="glyphicon glyphicon-plus" ng-click="showUpload(1)"></span>
                                     <img ngf-thumbnail="picture.picFile1" class="thumb">
                                     <img ng-src="{{imgUrl}}{{pic1}}" class="thumb" ng-if="p1 == 1">
                                     <i style="cursor: pointer;" title="click to remove this image" ng-click="remove_file_array(pic1,1)" ng-if="p1 == 1" class="glyphicon glyphicon-remove"></i>
                                     <i ng-click="remove_files(1)" ng-show="picture.picFile1" class="glyphicon glyphicon-remove"></i>
	                                </div>

                                    <div class="form-group" ng-if="upload1 == 1">

                                    <input class="form-control" type="file" ngf-select="uploadFiles($file, $invalidFiles,2,'image')" ng-model="picture.picFile2" name="file" accept="image/jpg,image/jpeg,image/png" ngf-max-size="2MB"/>
                                    <i style="cursor: pointer;" title="click to add 1 more image" ng-if="plus2 == 1" class="glyphicon glyphicon-plus" ng-click="showUpload(2)"></i>
                                    <img ng-show="myForm.file.$valid" ngf-thumbnail="picture.picFile2" class="thumb">
                                    <img ng-src="{{imgUrl}}{{pic2}}" class="thumb" ng-if="p2 == 1">
                                    <i style="cursor: pointer;" title="click to remove this image" ng-click="remove_file_array(pic2,2 )" ng-if="p2 == 1" class="glyphicon glyphicon-remove"></i>
                                    <i ng-click="remove_files(2)" ng-show="picture.picFile2" class="glyphicon glyphicon-remove"></i>
                                
                                </div>

                                 <div class="form-group" ng-if="upload2 == 1">

                                    <input class="form-control" type="file" ngf-select="uploadFiles($file, $invalidFiles,3,'image')"  ng-model="picture.picFile3" name="file" accept="image/jpg,image/jpeg,image/png" ngf-max-size="2MB"/>
                                    <img ng-show="myForm.file.$valid" ngf-thumbnail="picture.picFile3" class="thumb">
                                    <img ng-src="{{imgUrl}}{{pic3}}" class="thumb" ng-if="p3 == 1">
                                    <i style="cursor: pointer;" title="click to remove this image" ng-click="remove_file_array(pic3,3)" ng-if="p3 == 1" class="glyphicon glyphicon-remove"></i>
                                    <i ng-click="remove_files(3)" ng-show="picture.picFile3" class="glyphicon glyphicon-remove"></i>

                                
                                </div>

                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-4">
	                                <div class="form-group">
	                                    <label>Upload video(s)</label>
	                                    
                                     <input class="form-control" type="file" accept="" ngf-select="uploadFiles($file, $invalidFiles,4,'video')"   ng-model="picture.vid1" name="file"/>
                                     <img ng-show="myForm.file.$valid" ngf-thumbnail="picture.vid1" class="thumb">
                                     <img ng-src="{{imgUrl}}{{pic4}}" class="thumb" ng-if="p4 == 1">
                                     <i ng-click="remove_file_array(pic4,4)" ng-if="p4 == 1" class="glyphicon glyphicon-remove"></i>
                                     <i ng-click="remove_files(4)" ng-show="picture.vid1" class="glyphicon glyphicon-remove"></i>
	                                </div>
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-4">
	                                <div class="form-group">
	                                    <label>Upload gif(s)</label>
	                                    
                                        <input class="form-control" type="file" ngf-select="uploadFiles($file, $invalidFiles,5,'gif')" ng-model="picture.gif1" name="file" accept="image/gif" ngf-max-size="2MB"/>
                                         
                                        <img ng-show="myForm.file.$valid" ngf-thumbnail="picture.gif1" class="thumb">
                                        <img ng-src="{{imgUrl}}{{pic5}}" class="thumb" ng-if="p5 == 1">
                                        <i ng-click="remove_file_array(pic5,5)" ng-if="p5 == 1" class="glyphicon glyphicon-remove"></i>
                                        <i ng-click="remove_files(5)" ng-show="picture.gif1" class="glyphicon glyphicon-remove"></i>
	                                </div>
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
	                                <div class="form-group">
	                                    <textarea class="form-control" rows="4" placeholder="Enter Purpose" ng-model="exerciseFormFieldEdit.purpose" name="purpose"></textarea>
	                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                            <div class="row">
                                <div class="col-lg-12">
	                                <div class="form-group">
	                                    <textarea class="form-control" rows="4" placeholder="Enter Instruction" ng-model="exerciseFormFieldEdit.instruction" name="instruction"></textarea>
	                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                            <div class="row">
                                <div class="col-lg-12">
	                                <div class="form-group">
	                                    <textarea class="form-control" rows="4" placeholder="Enter Pointers" ng-model="exerciseFormFieldEdit.pointers" name="pointers"></textarea>
	                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                            <div class="row">
                                <div class="col-lg-12">
	                                <div class="form-group">
	                                    <textarea class="form-control" rows="4" placeholder="Enter Variations" ng-model="exerciseFormFieldEdit.variations" name="variations"></textarea>
	                                </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
              </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-4">
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Publish
	                  </div>
	                  <div class="panel-body">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
                                            <label>Visible to:</label>
                                            <select id="selectVisibleTo" class="form-control">
                                                <option value="1">All</option>
                                                <option value="2">None</option>
                                                <option value="3">Specific Orgs</option>
                                                <option value="4">Excluding Orgs</option>
                                            </select>
                            	</div>
                            	<!-- /.form-group -->
                            	<div id="selectVisibleOrganizations" class="hidden">
	                            	<div class="input-group custom-search-form">
	                                <input type="text" class="form-control" placeholder="Search Organizations...">
	                                <span class="input-group-btn">
	                                <button class="btn btn-default" type="button">
	                                    <i class="fa fa-search"></i>
	                                </button>
	                            		</span>
	                            	</div>
	                            	<!-- /.input-group -->
	                            	<div class="form-group">
	                                            <select multiple class="form-control">
	                                                <option>Org 1</option>
	                                                <option>Org 2</option>
	                                                <option>Org 3</option>
	                                                <option>Org 4</option>
	                                                <option>Org 5</option>
	                                            </select>
	                              </div>
	                              <!-- /.form-group -->
	                            </div>
                            <!-- /#selectVisibleOrganizations -->
	                          </div>
	                          <!-- /. col-lg-12 -->
                    </div>
                    <!-- /.panel-body -->
	                  <div class="panel-footer">
	                  		<button type="submit" class="btn btn-default" ng-disabled="true">Save Draft</button>
	                  		<button type="submit" class="btn btn-primary" style="float:right;" ng-click="submitted=true">Publish</button>
	                  	<!-- /.col-lg-12 -->
	                  </div>
	                  
                	</div>
                	<!-- /.panel -->
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Specifics
	                  </div>
	                  <div class="panel-body">
	                      <div class="row">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
                                <label>Specific Skill(can select many)</label>
                            <!--       <select id="" class="form-control" multiple ng-model="exerciseFormFieldEdit.specificskill_id" name="specificskill_id">
                                       <option ng-repeat="specificskill in specificskills" value="{{specificskill.id}}" ng-selected="specificskill.selected == true">{{specificskill.name}}</option>
                                  </select> -->

                                <select ui-select2 data-placeholder="Pick a Specific Skill" multiple style="width: 100%;" ng-model="exerciseFormFieldEdit.specificskill_id">
                                    <option ng-repeat="specificskill in specificskills" value="{{specificskill.id}}" ng-bind="specificskill.name" ng-selected="exerciseFormFieldEdit.specificskill_id == specificskill.id"></option>
                                </select>
                              </div>
	                          	<div id="" class="form-group">
                                 <label>Bodyparts(can select many)</label>
                              <!--     <select class="form-control" multiple ng-model="exerciseFormFieldEdit.bodypart_id" name="bodypart_id">
                                       <option ng-repeat="bodypart in bodyparts" value="{{bodypart.id}}" ng-selected="true">{{bodypart.name}}</option>
                                  </select> -->
                                <select ui-select2 data-placeholder="Pick a Bodypart" multiple style="width: 100%;" ng-model="exerciseFormFieldEdit.bodypart_id">
                                    <option ng-repeat="bodypart in bodyparts" value="{{bodypart.id}}" ng-bind="bodypart.name"></option>
                                </select>
                              </div>
	                          	<div class="form-group">
                                <label>Intensity</label>
                                    <input class="form-control" placeholder="# Intensity" name="intensity" type="number" string-to-number ng-model="exerciseFormFieldEdit.intensity">
                              </div>
	                     
	                         
	                          </div>
	                      </div>
	                  </div>
                	</div>

                	<!-- /.panel -->
                	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Categories
	                  </div>
	                  <div class="panel-body">
	                      <div class="row">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
	                              <label>Category</label>
	                              <select class="form-control" ng-model="exerciseFormFieldEdit.category_id" name="category_id">
	                                  <option ng-selected="true" value="">Select One...</option>
	                                   <option ng-repeat="category in categories" value="{{category.id}}" ng-selected="exerciseFormFieldEdit.category_id == category.id">{{category.name}}</option>
	                              </select>
                            	</div>
                            	<div class="form-group">
                            		<label>Sub-Category</label>
	                                <select class="form-control" ng-model="exerciseFormFieldEdit.subcategory_id" name="subcategory_id">
	                                	<option ng-selected="true" value="">Select One...</option>
                                        <option ng-repeat="subcategory in subcategories" value="{{subcategory.id}}" ng-selected="exerciseFormFieldEdit.subcategory_id == subcategory.id">{{subcategory.name}}</option>
                                    </select>
                              </div>
	                          </div>
	                      </div>
	                  </div>
                	</div>
                	<!-- /.panel -->
       <!--          	<div class="panel panel-default">
	                  <div class="panel-heading">
	                      Prerequisites
	                  </div>
	                  <div class="panel-body">
	                      <div class="row">
	                          <div class="col-lg-12">
	                          	<div class="form-group">
	                              <label>Optional (can choose multiple)</label>
	                              <select multiple class="form-control">
	                                  <option>Add New...</option>
	                                  <option>Prereq 1</option>
	                                  <option>Prereq 2</option>
	                                  <option>Prereq 3</option>
	                                  <option>Prereq 4</option>
	                                  <option>Prereq 5</option>
	                                  <option>Prereq 6</option>
	                                  <option>Prereq 7</option>
	                              </select>
                            	</div>
	                          </div>
	                      </div>
	                  </div>
                	</div> -->
                	<!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
                                    </form>
	</div>
	<!-- /#wrapper -->
  </body>
    	
    <script>
/*    	$(function() {   
  			$(document).on('change keyup mouseup','#selectVisibleTo',function(){
  				if (parseInt($('#selectVisibleTo').val()) > 2) {
  					$('#selectVisibleOrganizations').removeClass('hidden');
  				} else {
  					$('#selectVisibleOrganizations').addClass('hidden');
  				}
  			});
  			$(document).on('change keyup mouseup','#chooseSport', function(){
  				if (parseInt($('#chooseSport').val()) > 0) {
  					$('#specificPosition').removeClass('hidden');
  				} else {
  					$('#specificPosition').addClass('hidden');
  				}
  			});
			});*/
    </script>

</html>
