
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Edit {{vm.head}}</h1>
<!-- END PAGE TITLE-->
<form class="form-horizontal" name="exerciseFormEdit" ng-submit="submitted && update()" novalidate>


<div class="row">

    <div class="col-md-5">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
 
            <div class="portlet-body form">


                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Exercise Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Exercise Name" name="name" type="text" ng-model="exerciseFormFieldEdit.name">
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Purpose</label>
                                <div class="col-md-8">

                                    <textarea class="form-control" placeholder="Exercise Description" name="description1" ng-model="exerciseFormFieldEdit.purpose"></textarea>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                            <label class="col-md-4 control-label">Instruction</label>
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">

                                    <textarea class="form-control" placeholder="Exercise Description" name="description2" ng-model="exerciseFormFieldEdit.instruction"></textarea>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                            <label class="col-md-4 control-label">Pointers</label>
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">

                                    <textarea class="form-control" placeholder="Exercise Description" name="description3" ng-model="exerciseFormFieldEdit.pointers"></textarea>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                            <label class="col-md-4 control-label">Variations</label>
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">

                                    <textarea class="form-control" placeholder="Exercise Description" name="description4" ng-model="exerciseFormFieldEdit.variations"></textarea>
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Number Of Athletes</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Number Of Athletes" name="num_athletes" type="text" ng-model="exerciseFormFieldEdit.num_athletes">
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Intensity</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Intensity" name="intensity" type="text" ng-model="exerciseFormFieldEdit.intensity">
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Reps</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Reps" name="reps" type="text" ng-model="exerciseFormFieldEdit.reps">
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Time/Rep</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Time Per Rep" name="time_per_rep" type="text" ng-model="exerciseFormFieldEdit.time_per_rep">
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Sets</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Sets" name="sets" type="text" ng-model="exerciseFormFieldEdit.sets">
                
                                </div>
                         
                            </div>
                        </div>

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Rest between Sets</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Rest between Sets" name="rest_between_sets" type="text" ng-model="exerciseFormFieldEdit.rest_between_sets">
                
                                </div>
                         
                            </div>
                        </div>

            </div>


        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->

    </div>

    <div class="col-md-5">
                <div class="portlet light bordered portlet-body form">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-dark sbold">Exercise Attributes</span>
                        </div>

                    </div>

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Training Location</label>
                            <div class="col-md-8">

                                <select class="form-control" name="traininglocation_id" id="" ng-model="exerciseFormFieldEdit.traininglocation_id">
                                        <option value="" ng-selected="true">Select Training Location</option>
                                        <option ng-repeat="traininglocation in traininglocations" value="{{traininglocation.id}}">{{traininglocation.name}}</option>
                                </select>

                            </div>
                     
                        </div>
                    </div>

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Category</label>
                            <div class="col-md-8">

                                <select class="form-control" name="category_id" id="" ng-model="exerciseFormFieldEdit.category_id">
                                        <option value="" ng-selected="true">Select Category</option>
                                        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                                </select>

                            </div>
                     
                        </div>
                    </div>

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Sub Category</label>
                            <div class="col-md-8">

                            <select class="form-control" name="subcategory_id" id="" ng-model="exerciseFormFieldEdit.subcategory_id">
                                    <option value="" ng-selected="true">Select Sub Category</option>
                                    <option ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{subcategory.name}}</option>
                            </select>
                 

                            </div>
                     
                        </div>
                    </div>

                </div>


                <div class="portlet light bordered portlet-body form">

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Exercise Skills</label>
                            <div class="col-md-8">

                                <select ui-select2 data-placeholder="Pick a Skill Level" multiple style="width: 100%;" ng-model="exerciseFormFieldEdit.skilllevel_id">
                                    <option ng-repeat="skilllevel in skilllevels" value="{{skilllevel.id}}" ng-bind="skilllevel.name" ></option>
                                </select>


                            </div>
                     
                        </div>
                    </div>

                </div>


                <div class="portlet light bordered portlet-body form">

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Exercise Specific Skills</label>
                            <div class="col-md-8">

                                 <select ui-select2 data-placeholder="Pick a Specific Skill" multiple style="width: 100%;" ng-model="exerciseFormFieldEdit.specificskill_id">
                                    <option ng-repeat="specificskill in specificskills" value="{{specificskill.id}}" ng-bind="specificskill.name"></option>
                                </select>

                            </div>
                     
                        </div>
                    </div>

                </div>


                <div class="portlet light bordered portlet-body form">

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Bodyparts</label>
                            <div class="col-md-8">

                                 <select ui-select2 data-placeholder="Pick a Bodypart" multiple style="width: 100%;" ng-model="exerciseFormFieldEdit.bodypart_id">
                                    <option ng-repeat="bodypart in bodyparts" value="{{bodypart.id}}" ng-bind="bodypart.name"></option>
                                </select>

                            </div>
                     
                        </div>
                    </div>

                </div>


                <div class="portlet light bordered portlet-body form">

                    <div class="form-body">
                      <div class="form-group">
                              <label class="col-md-4 control-label">Equipments</label>
                            <div class="col-md-8">

                                 <select ui-select2 data-placeholder="Pick an Equipment" multiple style="width: 100%;" ng-model="exerciseFormFieldEdit.equipment_id">
                                    <option ng-repeat="equipment in equipments" value="{{equipment.id}}" ng-bind="equipment.name"></option>
                                </select>

                            </div>
                     
                        </div>
                    </div>

                </div>

                    <div class="portlet light bordered portlet-body form">

                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Upload Image/Video</label>
                                <div class="col-md-8">

                                    <input class="form-control" type="file"/>

                                </div>
                         
                            </div>
                        </div>

                     </div>

                 <div class="form-actions portlet light bordered">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green" ng-click="submitted=true">UPDATE</button>
                        </div>
                    </div>
                </div>
    </div>

</div>

</form>


