
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->


               <!-- END PAGE TITLE
                        <!-- END PAGE HEADER-->
                        <!-- BEGIN : USER CARDS -->
                        <div class="row" ng-init="getListing()">
                            <div class="col-md-12">
                                <div class="portlet light portlet-fit bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=" icon-layers font-green"></i>
                                            <span class="caption-subject font-green bold uppercase">Default</span>
                                        </div>

                                <a href="javascript:void(0);" class="btn default" ng-click="add()" style="float:right;">Add New Exercise</a>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="mt-element-card mt-element-overlay">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="exercise in exercises">
                                                    <div class="mt-card-item" style="height: 300px;">
                                                        <a href="javascript:void(0);" ng-click="edit($index)" style="float: right;">
                                                                            <i class="icon-pencil"></i>
                                                                        </a>
                                            <!--             <div class="mt-card-avatar mt-overlay-1">
                                                            <img src="../assets/pages/img/avatars/team1.jpg" />
                                                            <div class="mt-overlay">
                                                                <ul class="mt-info">
                                                                    <li>
                                                                        <a class="btn default btn-outline" href="javascript:;">
                                                                            <i class="icon-magnifier"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="btn default btn-outline" href="javascript:;">
                                                                            <i class="icon-link"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0);" class="btn default btn-outline" ng-click="edit()">
                                                                            <i class="icon-pencil"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div> -->
                                                        <div class="mt-card-content">
                                                            <h3 class="mt-card-name">{{exercise.name}}</h3>
                                                            <div style="float: left;">

                                                                <label>Training location:</label>
                                                                <p class="mt-card-desc font-grey-mint">{{exercise.training_location.name}}</p>

                                                                <label>Category:</label>
                                                                <p class="mt-card-desc font-grey-mint">{{exercise.category.name}}</p>

                                                                <label>Sub Category:</label>
                                                                <p class="mt-card-desc font-grey-mint">{{exercise.subcategory.name}}</p>
                                                            </div>


                                                            <div style="float: right;">

                                                                <label>Purpose:</label>
                                                                <p class="mt-card-desc font-grey-mint">{{exercise.purpose}}</p>

                                                                <label>Instruction:</label>
                                                                <p class="mt-card-desc font-grey-mint">{{exercise.instruction}}</p>

                                                                <label>Pointers:</label>
                                                                <p class="mt-card-desc font-grey-mint">{{exercise.pointers}}</p>

                                                                <label>Variations:</label>
                                                                <p class="mt-card-desc font-grey-mint">{{exercise.variations}}</p>
                                                            </div>
                            <!--                                 <div class="mt-card-social">
                                                                <ul>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-dribbble"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                       <!--pagination can go here-->
                    <posts-pagination style="float: right;"></posts-pagination>
                        </div>


         