<!-- 
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eKinetx</title>


</head><body> -->
	<div id="wrapper">

<!-- Navigation -->
<!--     <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"></nav> -->
    <div class="row" ng-init="getListing()">
    	<div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-plus-square fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div style="font-size:28px">New</div>
                        					<div class="font-size: 14px">Exercise</div>
                        </div>
                    </div>
                </div>
                <a ng-click="add()">
                    <div class="panel-footer">
                        <span class="pull-left">Create New Exercise</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

		<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="exercise in exercises">
    	    <div class="panel panel-default">
            <a ng-click="delete($index)" style="float: right;"><i class="fa fa-trash-o" aria-hidden="true" style="color: red;"></i></a>
    	        <div class="panel-body">
    	            <div class="row">
    	                <div class="col-xs-5">
    	                    <img src="{{$root.serverPath}}/images/exerciseassets/{{exercise.assets[0].asset_url}}" style="width:90px;height:99px">
    	                </div>
    	                <div class="col-xs-7 text-right">
    	                    <div style="font-size: 28px">{{exercise.name}}</div>
    	                    <div class="font-size: 14px">{{exercise.skilllevel.name}}</div>
    	                </div>
    	            </div>
    	        </div>
    	        <a ng-click="edit($index)" >
    	            <div class="panel-footer">
    	                <span class="pull-left">View {{exercise.name}}</span>
    	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
    	                <div class="clearfix"></div>
    	            </div>
    	        </a>
    	    </div>
	   </div>
						
    </div>
    <!-- /.row -->
                                    <!--pagination can go here-->
                    <posts-pagination style="float: right;"></posts-pagination>
</div>

</body>

</html>
