<div class="login-box">
<div class="row">



    <div class="">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <!-- <i class="icon-settings font-dark"></i> -->
                    <span class="caption-subject font-dark sbold uppercase">Admin Panel</span>
                </div>

            </div>
            <div class="portlet-body form">


                    <form class="form-horizontal" name="loginForm" ng-submit="loginForm.$valid && send(loginFormField)" novalidate>
                        <div class="form-body">

                          <div class="form-group">
                              <!--   <label class="col-md-4 control-label">Category Name</label> -->
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Email" name="email" type="email" ng-model="loginFormField.email" required style="width:350px;">
                                    <div class="error-message">
                                    <span ng-if="submitted && loginForm.email.$error.required">The email field is required.</span>
                                    <span ng-if="submitted && loginForm.email.$error.email">Not a valid email type.</span>
                                    </div>
                                </div>
                         
                            </div>
                            <div class="form-group">
                              <!--   <label class="col-md-4 control-label">Category Name</label> -->
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Password" name="password" type="password" ng-model="loginFormField.password" required style="width: 350px;">
                                    <div class="error-message">
                                    <span ng-if="submitted && loginForm.password.$error.required">The password field is required.</span>
                                    </div>
                            </div>
                         
                            </div>
                            <div class="error-message">
                                <span ng-if="submitted && loginForm.serverError.$error.serverMessage">{{loginForm.serverError.$error.serverMessage}}</span>
        
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true" style="float: right;">Sign In</button>
                                   <!--  <a class="btn default" ng-click="cancel(categoryForm)">Cancel</a> -->
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>


</div>
</div>
