
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Manage {{vm.head}}</h1>
<!-- END PAGE TITLE-->




<div class="row" ng-init="getListing()">


    <div class="col-md-7" style="width: 100%;">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet">

            <div class="clearfix"></div>
            <div style="margin-bottom:20px;">

                <div class="pull-left">
                    <form method="GET" action="http://localhost/ekintx/web_old/public/webadmin/states" accept-charset="UTF-8" class="form-inline" name="filter" id="filter">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search..." required="1" name="q" type="search">
                        </div>
                        <input id="sortby" name="sortby" type="hidden">
                        <input id="order" name="order" type="hidden">
                        &nbsp;&nbsp;
                        <button type="submit" class="btn green">Search</button>
                        &nbsp;
                        <a href="http://localhost/ekintx/web_old/public/webadmin/states" class="btn default">Clear</a>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <div style="margin-bottom:20px;">
                <div class="pull-left">{{bodyparts.length}} record(s) found</div>
                <div class="pull-right">
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="deleteSelected()"> Delete Selected</a>
                    <a href="javascript:void(0);" id="multi-del-btn" class="label label-sm label-success" ng-click="addNewBodypart()"> Add New Body Part</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="portlet-body">


                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ><input class="check_all" id="check_all" name="check_all" type="checkbox" value=""></th>
                                <th style="width:30%;">
                                    Body Part<a href="javascript:void(0);" onclick="sort('StateName','desc');"><i class="fa fa-angle-down"></i></a>
                                    <a href="javascript:void(0);" onclick="sort('StateName','asc');" ><i class="fa fa-angle-up"></i>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="bodypart in bodyparts">
                                <td><input class="multi-select-row" name="multi_select_row[]" type="checkbox" value="14" ng-change="stateChanged($index,bodypart.id)" ng-model="answers[bodypart.id]"></td>
                                <td>{{bodypart.name}}</td>
                                <td>
                                    <a href="javascript:void(0);"  class="del-btn" ng-click="edit($index)"> Edit </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:void(0);" ng-click="delete($index)" class="del-btn"> Delete </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <!--pagination can go here-->
                    <posts-pagination style="float: right;"></posts-pagination>

                </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>

<script type="text/ng-template" id="addBodypartModal.html">

    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Add New Body Part</span>
                </div>

            </div>
            <div class="portlet-body form">
                    <form class="form-horizontal" name="bodyPartForm" ng-submit="bodyPartForm.$valid && send(vm.bodyPartForm)" novalidate>
                        <div class="form-body">
                          <div class="form-group">
                                <label class="col-md-4 control-label">Body Part Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Body Part name" name="name" type="text" ng-model="vm.bodyPartForm.name" required ng-keypress="bodyPartForm.name.$error.serverMessage=''" ng-keydown="bodyPartForm.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && bodyPartForm.name.$error.serverMessage">{{bodyPartForm.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && bodyPartForm.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                         
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Submit</button>
                                    <a class="btn default" ng-click="cancel(bodyPartForm)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>


<script type="text/ng-template" id="editBodypartModal.html">
    <div class="col-md-5 modalNew">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">Update Body Part</span>
                </div>

            </div>
            <div class="portlet-body form">
                    <form class="form-horizontal" accept-charset="UTF-8" name="bodyPartFormEdit" ng-submit="bodyPartFormEdit.$valid && update(bodyPartForm)" novalidate>
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Body Part Name</label>
                                <div class="col-md-8">

                                    <input class="form-control" placeholder="Body Part name" name="name" type="text" ng-model="bodyPartForm.name" required ng-keypress="bodyPartFormEdit.name.$error.serverMessage=''" ng-keydown="bodyPartFormEdit.name.$error.serverMessage=''">
                                    <div class="error-message">
                                    <span ng-if="submitted && bodyPartFormEdit.name.$error.serverMessage">{{bodyPartFormEdit.name.$error.serverMessage}}</span>
                                    <span ng-if="submitted && bodyPartFormEdit.name.$error.required">The name field is required.</span>
                                    </div>
                                </div>
                         
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" ng-click="submitted=true">Update</button>
                                    <a class="btn default" ng-click="cancel(bodyPartFormEdit)">Cancel</a>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
    </div>
</script>

</div>

